<div
   ng-controller="qwQueryMonitorController as qmc"
   ng-show="qc.validated.valid()"
   class="interim main-content">

  <div class="row margin-bottom-half">
    <div class="text-small">
      <em>
        <span ng-if="qmc.isSelected(1)">Active queries at </span>
        <span ng-if="qmc.isSelected(2)">Slowest completed queries at </span>
        <span ng-if="qmc.isSelected(3)">Prepared queries at </span>
        {{qmc.updatedTime()}} &nbsp;
      </em>
       <a href="" ng-click="qmc.toggle_update()">
         <span ng-if="qmc.get_update_flag()" class='icon fa-pause-circle'></span>
         <span ng-if="!qmc.get_update_flag()" class='icon fa-play-circle'></span>
         {{qmc.get_toggle_label()}}
       </a>
    </div>

    <div class="pills text-right">
      <a ng-click="qmc.selectTab(1)"
         ng-class="{selected: qmc.isSelected(1)}">Active</a>
      <a ng-click="qmc.selectTab(2)"
         ng-class="{selected: qmc.isSelected(2)}">Completed</a>
      <a ng-click="qmc.selectTab(3)"
         ng-class="{selected: qmc.isSelected(3)}">Prepared</a>
    </div>
  </div>

  <div id="active_table" ng-if="qmc.isSelected(1)">
    <table>
      <thead>
      <th>Query</th>
      <th>Node</th>
      <th>Duration</th>
      <th>Request ID</th>
      <th>State</th>
      </thead>
      <tbody>
      <tr ng-repeat="result in qmc.monitoring.active_requests">
      <td class="width-6"><h3>{{result.statement}}</h3></td>
      <td>{{result.node}}</td>
      <td>{{result.elapsedTime}}</td>
      <td>{{result.requestId}}</td>
      <td>{{result.state}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="completed_table" ng-if="qmc.isSelected(2)">
    <table>
      <thead>
      <th>Query</th>
      <th>Node</th>
      <th>Duration</th>
      <th>Result Count</th>
      <th>State</th>
      <th>Run at</th>
      </thead>
      <tbody>
      <tr ng-repeat="result in qmc.monitoring.completed_requests">
      <td class="width-6"><h3>{{result.statement}}</h3></td>
      <td>{{result.node}}</td>
      <td>{{result.elapsedTime}}</td>
      <td>{{result.resultCount}}</td>
      <td>{{result.state}}</td>
      <td>{{result.time}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="prepareds_table" ng-if="qmc.isSelected(3)">
    <table>
      <thead>
      <th>Query</th>
      <th>Avg Elapsed</th>
      <th>#Uses</th>
      <th>Node</th>
      </thead>
      <tbody>
      <tr ng-repeat="result in qmc.monitoring.prepareds">
      <td class="width-6"><h3>{{result.statement}}</h3></td>
      <td>{{result.avgElapsedTime}}</td>
      <td>{{result.uses}}</td>
      <td>{{result.node}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
