html {
  box-sizing: border-box;
}
/*
*,
*:before,
*:after {
  box-sizing: inherit;
}
*/


/*
.cbui-overflow {
  overflow: auto;
}

.cbui-row {
  position:relative;
  padding: 6px 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cbui-row.cbui-rounded-top {
  border-radius: 4px 4px 0px 0px;
}

.cbui-row.cbui-align-right {
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cbui-row.cbui-align-top {
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cbui-row.cbui-padding0 {
  padding: 0;
}

.cbui-row.cbui-margin-top8 {
  margin: 8px 0 0 0;
}

.cbui-row.cbui-margin-top20 {
  margin: 20px 0 0 0;
}

.cbui-row.cbui-align-left {
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cbui-column50 {
  -webkit-flex: 1 0 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  min-width: 0;
}

.cbui-column25 {
  -webkit-flex: 1 0 25%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  min-width: 0;
}

.cbui-column33 {
  -webkit-flex: 1 0 33%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  min-width: 0;
}

.cbui-column66 {
  -webkit-flex: 1 0 66%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 66%;
          flex: 1 0 66%;
  min-width: 0;
}

.cbui-column75 {
  -webkit-flex: 1 0 74%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 74%;
          flex: 1 0 74%;
  min-width: 0;
}

.cbui-centered {
  text-align: center;
}

.cbui-right {
  text-align: right;
}

a.cbui-rightmargin {
  margin: 0 12px 0 0;
}

span.cbui_color_success {
  color: #2ca01c !important;
  font-weight: 600;
}

span.cbui_color_fail {
  color: #fc7d83 !important;
  font-weight: 600;
}

.cbui-query-resultsnumber input {
  width: 68px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.cbui-error-message {
  font-size: 14px;
  color: #616062;
}

.cbui-nodelist {
  font-size: 14px;
  font-weight: normal;
  padding: 0 0 15px 9px;
}

.cbui-biglink {
  font-size: 16px;
  font-weight: normal;
}

#query_ui h2 {
  margin-left: 8px;
  font-size: 19px;
  font-weight: 500;
  color: #333;
}

#query_ui h4 {
  display: inline-block;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #444;
}

#query_ui h5 {
  display: inline-block;
  margin: 0 8px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.cbui-refreshicon {
  height: 20px;
  width: auto;
  cursor: pointer;
}

.cbui-busyicon {
  height: 20px;
  width: auto;
  cursor: none;
}

.cbui-viewslist {
  overflow: auto;
  width: 100%
}
*/

.cbui-query-results-wrapper {
  border-radius: 4px 4px 0px 0px;
  margin: 1px 0 0 0;
  padding: 0;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #cdced0;
  border-width: 0 1px 1px 1px;
}

.query-history-controls-inner {
  margin: 0 .25rem;
}

#result_summary {
  margin-bottom: 1.5rem;
}

#result_summary span {
  margin: 0 .5rem;
  color: #555;
}

#result_summary span:first-child {
  margin-left: 0;
}

#query_editor {
  overflow: auto;
  background-color: #f6f7f9;
  padding: 8px;
  /*margin: 1px;*/
  margin: .5rem 0 .75rem 0;
  font-weight: 400;
}
#editor_header {
  min-height: 2rem;
}
#query_editor * {
  /*line-height: 1.5rem !important;*/
  /*font-size: 14px !important;*/
}

.ace_gutter {
  background-color: #f6f7f9 !important;
}

.ace_print-margin {display:none !important;}

#result_header {
min-height: 2rem;
}
/* the wrapper around ALL results views...followed by the specific views */
#result_box {
background-color: #f6f7f9;
margin-top: .5rem;
}
/* the wrappers around the TREE, PLAN, and PLAN TEXT views */
#result_tree, #query_plan, #query_plan_text, #sidebar_body {
  overflow: auto;
}
#result_tree {padding:.5rem .5rem .5rem 0;}
#query_plan {padding:.5rem;}

/* the wrapper around the JSON view */
#result_editor {
  overflow: auto;
  background-color: #f6f7f9;
  font-size: 14px;
  font-weight: 400;
  padding: 1rem;
}
/* the wrapper around the JSON view to capture all its children brutally */
#result_editor * {
  line-height: 1.5rem !important;
}
/* the wrapper around the HTML Table view */
#result_table {
  overflow: auto;
  padding: 0;
}

#sidebar_header {
  min-height: 2rem;
  border-left: 1px solid #d8d8d8;
  margin-left: 1.5rem;
  padding-left: .5rem;
  }
#sidebar_body {
  border-left: 1px solid #d8d8d8;
  margin-left: 1.5rem;
  padding-left: .5rem;
  padding-top: .5rem;
}
#sidebar_body h5 {
  line-height: 2rem;
  font-weight: 600;
  color: #000;
  }
#sidebar_body .row {
    line-height: 2rem;
      margin-bottom:.5rem;
      padding-right: 4px;
}

#sidebar_body .icon {
  cursor: pointer;
  color: #555;
}

.ajtd-row-matched-search {
  background-color: #d9c5ff;
}

#sidebar_body {
  overflow:auto;
}

#sidebar_body ul {
  margin: 0 0 .5rem 0;
  }

 #sidebar_body li {
    list-style-type: none;
  }
#sidebar_body  section {
  border:none;
}
#show_anyway {
  color:red;
  font-size:.875rem;
  padding:1.5rem;
}
#show_anyway a {
  display:block;
  width:100%;
  text-align:right;
}
#qw_history_dialog .panel-content .filter-input-group {
  margin: 0 auto .5rem auto;
}

#qw_history_table section span.selected {
  background-color: #ececec;
}

#qw_history_table section {
  margin:0;padding:0;
}
#qw_history_table section:empty {
  display: none;
}

#qw_history_table section span {
  padding: .5rem 0;
  min-height:2rem;
  cursor:pointer;
  line-height:1.3;}

#qw_history_table section:hover {
  background-color: #ecf3fa;}

/* to be added to core css files when appropriate -------------------- */
.hidden {display:none;}

.panel-footer.spaced {
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
}

.gray-6 {
  background-color:#ececec;
}

.flex-top {
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: stretch;
}
