.qw-parallel {
  border: solid 0 #060; 
  border-left-width:2px; 
  padding-left:0.5ex;
  padding-right:0.5ex;
}

.qw-parallel-begin {
  border-top-width:2px;
}

.qw-parallel-end {
  border-bottom-width:2px;
}

.qw-union {
  border: solid 0 #007; 
  border-top-width:1px;
  margin-top: 10px;
}

.qw-union-text {
  color: #007; 
  border-left-width:1px;
}

.qw-union-child {
  border-right-width:1px;
}

.qw-field {
   font-style: italic;
   color: #839B00;
}

.cbui-plan-summary {
  font-size: 12px;
  font-weight: normal;
}

.cbui-plan-expensive {
  background-color: #ffe6de;
}

.cbui-explain-table {
  padding-bottom: 1px; /* needed to prevent expensive background from overlapping union border */
}

