<div id="query_prefs_dialog" style="width: 500px">
  <h1 class="dialog_corner_radius">Query Preferences</h1>
  <form>
    <div class="sub_section" style="margin: 1em; min-height: 300px">
    
      <div>
        <input type="checkbox" ng-model="options.timings">&nbsp;Collect Query Timings</input>
      </div>
      
      <div>Max parallelism:
        <input type="text" id="pwd" ng-model="options.max_parallelism"></input>
      </div>
      
      <div>Scan consistency:
        <select ng-model="options.scan_consistency">
          <option value="not_bounded">not_bounded</option>
          <option value="request_plus">request_plus</option>
          <option value="statement_plus">statement_plus</option>
        </select>
      </div>

      <div>
        <span>Positional parameters: 
            <button title="Add parameter" ng-click="options.positional_parameters.push('')">+</button>
            <button title="Remove parameter" ng-click="options.positional_parameters.splice(-1,1)" ng-class="{dynamic_disabled: options.positional_parameters.length < 1}">&nbsp;-&nbsp;</button>
        </span>
          <table>
            <tr ng-repeat="param in options.positional_parameters track by $index">
                <td>${{$index}}</td>
                <td><input type="text" ng-model="options.positional_parameters[$index]"></input></td>
            </tr>
          </table>
      </div>

      <div>
        <span>Named parameters: 
            <button title="Add parameter" ng-click="options.named_parameters.push({name:'',value:''})" >+</button>
            <button title="Remove parameter" ng-click="options.named_parameters.splice(-1,1)" ng-class="{dynamic_disabled: options.positional_parameters.length < 1}">&nbsp;-&nbsp;</button>
        </span>
          <table>
            <thead ng-if="options.named_parameters.length > 0"><th>Name</th><th>Value</th></thead>
            <tr ng-repeat="param in options.named_parameters track by $index">
                <td>$<input type="text" ng-model="options.named_parameters[$index].name"></input></td>
                <td><input type="text" ng-model="options.named_parameters[$index].value"></input></td>
            </tr>
          </table>
      </div>
      
    </div>
    <div class="save_cancel">
      <button type="submit" class="save_button float_right"
        ng-click="$close('ok')">OK</button>
      <a type="submit" class="close" ng-click="$dismiss('cancel')">Cancel</a>
    </div>
  </form>
</div>