<div id="query_ui" ng-controller="qwQueryMonitorController as qmc"
  ng-show="qc.validated.valid()"
  class="container ui-layout-center shadow_box">

  <div id="result_header"
    class="cbui-row cbui-header-oldgray cbui-rounded-top">
    <span class="cbui-column25 cbui-left">
      <h5 style="vertical-align: top; margin-top: 10px">updated {{qmc.updatedTime()}}</h5>
      <ul class="tabs">
        <li class="tab_middle" ng-class=""><a ng-click="qmc.toggle_update()">{{qmc.get_toggle_label()}}</a></li>
      </ul>
    </span> <span class="cbui-column25 cbui-right">
      <ul class="tabs">
        <li class="tab_left"><a ng-click="qmc.selectTab(1)"
          ng-class="{selected: qmc.isSelected(1)}">Active</a></li>
        <li class="tab_middle"><a ng-click="qmc.selectTab(2)"
          ng-class="{selected: qmc.isSelected(2)}">Completed (Long-Running)</a></li>
        <li class="tab_right"><a ng-click="qmc.selectTab(3)"
          ng-class="{selected: qmc.isSelected(3)}">Prepared</a></li>
      </ul>
    </span>
  </div>

  <div id="active_table" ng-if="qmc.isSelected(1)">
  <table class="ajtd-root ajtd-table sortable">
    <thead>
        <th class="ajtd-column-header">Query</th>
        <th class="ajtd-column-header">Node</th>        
        <th class="ajtd-column-header">Duration</th>
        <th class="ajtd-column-header">Request ID</th>
        <th class="ajtd-column-header">State</th>
        <th class="ajtd-column-header"></th>
    </thead>
    <tbody>
    <tr ng-repeat="result in qmc.monitoring.active_requests">
    <td class="ajtd-cell">{{result.statement}}</td>
    <td class="ajtd-cell">{{result.node}}</td>
    <td class="ajtd-cell">{{result.elapsedTime}}</td>
    <td class="ajtd-cell">{{result.requestId}}</td>
    <td class="ajtd-cell">{{result.state}}</td>
    <td>
        <a class="ajtd-cell"
        ng-click="qmc.cancelQueryById(result.requestId)">
        <span>Cancel</span>
        </a>
    </td>
    </tr>
    </tbody>
   </table>

  </div>
  
  <div id="completed_table" ng-if="qmc.isSelected(2)">
  <table class="ajtd-root ajtd-table sortable">
    <thead>
        <th class="ajtd-column-header">Query</th>
        <th class="ajtd-column-header">Node</th>        
        <th class="ajtd-column-header">Duration</th>
        <th class="ajtd-column-header">Result Count</th>
        <th class="ajtd-column-header">State</th>
        <th class="ajtd-column-header">Run at</th>
    </thead>
    <tbody>
    <tr ng-repeat="result in qmc.monitoring.completed_requests">
    <td class="ajtd-cell">{{result.statement}}</td>
    <td class="ajtd-cell">{{result.node}}</td>
    <td class="ajtd-cell">{{result.elapsedTime}}</td>
    <td class="ajtd-cell">{{result.resultCount}}</td>
    <td class="ajtd-cell">{{result.state}}</td>
    <td class="ajtd-cell">{{result.time}}</td>
    </tr>
    </tbody>
   </table>
  </div>
  
  <div id="prepareds_table" ng-if="qmc.isSelected(3)">
  <table class="ajtd-root ajtd-table sortable">
    <thead>
        <th class="ajtd-column-header">Query</th>
        <th class="ajtd-column-header">Avg Elapsed</th>
        <th class="ajtd-column-header">#Uses</th>
        <th class="ajtd-column-header">Node</th>
    </thead>
    <tbody>
    <tr ng-repeat="result in qmc.monitoring.prepareds">
    <td class="ajtd-cell">{{result.statement}}</td>
    <td class="ajtd-cell">{{result.avgElapsedTime}}</td>
    <td class="ajtd-cell">{{result.uses}}</td>
    <td class="ajtd-cell">{{result.node}}</td>
    </tr>
    </tbody>
   </table>
  </div>
</div>