<div id="query_pane" style="background-color: #fff"
  ng-controller="qwQueryController as qc" ng-show="qc.validated.valid()"
  class="container ui-layout-center shadow_box">
  <div mn-spinner="queryInProgress" id="query_wrapper" class="contents">
    <div id="query_box" class="query_box">
      <div id="query_header"
        class="cbui-row cbui-header-oldgray cbui-rounded-top">
        <span class="width-3"> 
          <a ng-click="qc.query()" class="btn_1">
            <span title="(or hit enter after a semicolon)" ng-if="!qc.executingQuery.busy">Execute</span>
            <span title="Stop the running query" ng-if="qc.executingQuery.busy">Cancel</span>
          </a>
          <a ng-if="qc.showOptions" ng-click="qc.options()" class="btn_1">
            <span><img src="../_p/ui/query/images/gear.png" height="16"/></span>
          </a>
        </span>
         
        <span class="cbui-column cbui-centered"> 
          <a title="View previous queries/results" ng-click="qc.prev()"
            qw-long-press="qc.historyMenu" class="btn_1" 
            ng-class="{dynamic_disabled: !qc.hasPrev()}">
            <span>&larr;</span>
        </a>

          <span class="cbui-biglink" ><a ng-click="qc.historyMenu()">History </a>({{qc.getCurrentIndex()}})</span> 
          <a title="View subsequent queries/results" ng-click="qc.next()"
          qw-long-press="qc.historyMenu" class="btn_1 cbui-rightmargin"
          ng-class="{dynamic_disabled: !qc.hasNext()}"><span>&rarr;</span>
        </a> <!-- a ng-click="qc.clearHistory()"
          ng-class="{dynamic_disabled: qc.executingQuery.busy}"
          ng-disabled="qc.executingQuery.busy"
          class="btn_1 cbui-rightmargin"> <span>Clear History</span>
        </a -->
        </span>
        <span class="width-3 cbui-right">
          <input type="file" id="loadQuery" name="files" style="display:none"/>
          <a ng-if="qc.fileSupport" id="loadQueryButton" ng-click="qc.load_query()" 
          class="btn_1" onchange="console.log("changed files")"> 
            <span>Load Query</span></a>
          <a ng-click="qc.save_query()" class="btn_1"> <span>Save Query</span></a>
        </span>
      </div>

      <div class="" id="query_editor" ui-ace="qc.aceInputOptions"
        ng-class="{dynamic_disabled: qc.executingQuery.busy}"
        ng-model="qc.lastResult.query">Ace</div>

    {{qc.renderPage()}}

      <!--  div class="cbui-row cbui-header-oldgray">
        <a ng-click="qc.query()" class="btn_1"
          ng-class="{dynamic_disabled: qc.executingQuery.busy}"
          title="(or hit enter after a semicolon)"><span>Execute</span></a>
        <span class="cbui-query-resultsnumber"><h5>Result
            limit:</h5> <input type="number" step="50" placeholder="50"
          min="0" ng-model="qc.limit.max" ng-pattern="/^[0-9]+$/"
          required /> </span>
      </div -->
    </div>

    <!-- Next we want the metadata and result boxes side by side -->
    <div class="cbui-row cbui-align-top cbui-query-results-wrapper">
      <div ng-show="qc.showBucketAnalysis" id="metadata" class="width-3">
        <div id="sidebar_header" class="cbui-row cbui-header-oldgray">
          

          <span><img ng-if="!qc.gettingBuckets.busy"
            ng-click="qc.updateBuckets()" class="cbui-refreshicon"
            src="../_p/ui/query/images/spinner/spinner_lightbox_static.gif" />
            <img ng-if="qc.gettingBuckets.busy" class="cbui-busyicon"
            src="../_p/ui/query/images/spinner/spinner_lightbox.gif" />
            <h4>&nbsp Bucket Analysis</h4></span>
            
            <a title="resize" ng-click="qc.toggleAnalysisSize()"
            class="btn_1" ng-class="{dynamic_disabled: !qc.hasPrev()}">
            <span ng-if="!qc.analysisExpanded">&raquo;</span>
            <span ng-if="qc.analysisExpanded">&laquo;</span>
                    </a>            
          </span>

        </div>

        <div id="sidebar_body" class="cbui-overflow">
          <div title="Buckets with a primary index support all queries.">
            {{qc.fullyQueryableBuckets}}
            <ul class="bucket">
              <li class="bucket" ng-repeat="bucket in qc.buckets"
                ng-show="bucket.has_prim">
                <div bucket-display="bucket"></div>
              </li>
            </ul>
          </div>

          <div
            title="Buckets with only secondary indexes require a 'where' clause using indexed fields.">
            {{qc.queryOnIndexedBuckets}}
            <ul class="bucket">
              <li class="bucket" ng-repeat="bucket in qc.buckets"
                ng-show="!bucket.has_prim && bucket.has_sec">
                <div bucket-display="bucket"></div>
              </li>
            </ul>
          </div>

          <div title="Buckets with no index cannot be queried.">
            {{qc.nonIndexedBuckets}}
            <ul class="bucket">
              <li class="bucket" ng-repeat="bucket in qc.buckets"
                ng-show="!bucket.has_prim && !bucket.has_sec">
                <div bucket-display="bucket"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Result panel -->
      <div id="result_box" class="width-9 classic-ui">
        <div id="result_inner">
          <div id="result_header" class="cbui-row cbui-header-oldgray">
            <ul class="tabs">
              <li class="tab_left"><a ng-click="qc.selectTab(1)"
                ng-class="{selected: qc.isSelected(1)}">JSON</a></li>
              <li class="tab_middle"><a ng-click="qc.selectTab(2)"
                ng-class="{selected: qc.isSelected(2)}">Table</a></li>
               <li ng-if="!qc.autoExplain" class="tab_right"><a ng-click="qc.selectTab(3)"
                ng-class="{selected: qc.isSelected(3)}">Tree</a></li>
               <li ng-if="qc.autoExplain" class="tab_middle"><a ng-click="qc.selectTab(3)"
                ng-class="{selected: qc.isSelected(3)}">Tree</a></li>
               <li ng-if="qc.autoExplain" class="tab_middle"><a ng-click="qc.selectTab(4)"
                ng-class="{selected: qc.isSelected(4)}">Plan</a></li>
               <li ng-if="qc.autoExplain" class="tab_right"><a ng-click="qc.selectTab(5)"
                ng-class="{selected: qc.isSelected(5)}">Plan Text</a></li>
            </ul>
            <h4>Results</h4>
            <a style="overflow: hidden; line-height: 34px;"
              ng-click="qc.save()" class="btn_1 dynamic_enabled"><span>Save
                JSON</span></a>
          </div>


          <div id="result_summary" ng-hide="qc.lastResult.hide"
            class="panes">
            <div>
              <table class="cbui-viewslist">
                <thead>
                  <tr>
                    <td
                      ng-class="{cbui_color_success: qc.status_success(), cbui_color_fail: qc.status_fail()}">
                      Status: {{qc.lastResult.status}}</td>
                    <td>Elapsed: {{qc.lastResult.elapsedTime}}</td>
                    <td>Execution: {{qc.lastResult.executionTime}}</td>
                    <td ng-if="qc.lastResult.mutationCount">Mutation Count: {{qc.lastResult.mutationCount}}</td>
                    <td ng-if="!qc.lastResult.mutationCount">Result Count: {{qc.lastResult.resultCount}}</td>
                    <td>Result Size: {{qc.lastResult.resultSize}}</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>

          <!-- div>last result: {{qc.lastResult.resultSize}}, table size: {{qc.maxTableSize}}, lt: {{qc.lastResult.resultSize < qc.maxTableSize}}</div -->
          <div id="show_anyway" ng-if="!qc.showBigDatasets && qc.dataTooBig()">
          {{qc.getBigDataMessage()}} 
          <a ng-click="qc.setShowBigData(true)">Show anyway.</a></div>
          <div id="result_editor" ui-ace="qc.aceOutputOptions"
            ng-if="qc.isSelected(1) && (!qc.dataTooBig() || qc.showBigDatasets)"
            ng-model="qc.lastResult.result"
            style="border-right: 1px solid #e3e3e4;"></div>
          <div id="result_table"
            ng-if="qc.isSelected(2) && (!qc.dataTooBig() || qc.showBigDatasets)"
            qw-json-table="qc.lastResult.data"></div>
          <div id="result_tree"
            ng-if="qc.isSelected(3) && (!qc.dataTooBig() || qc.showBigDatasets)"
            qw-json-tree="qc.lastResult.data"></div>
          <div id="query_plan" ng-if="qc.isSelected(4)" 
            qw-explain-viz="qc.lastResult.explainResult"
            style="border-right: 1px solid #e3e3e4;"></div>
          <div id="query_plan_text" ng-if="qc.isSelected(5)" 
            ui-ace="qc.acePlanOptions"
            ng-model="qc.lastResult.explainResultText"
            style="border-right: 1px solid #e3e3e4;"></div>
        </div>

      </div>
    </div>

  </div>