<!--
Copyright 2021-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<form class="forms">
<div class="dialog-lg dialog-resizable" style="height:80vh">
  <div class="panel-header">
    <h2 class="ellipsis">{{header}}</h2>
    <a class="ui-dialog-titlebar-close modal-close" (click)="activeModal.dismiss('X')">X</a>
  </div>
  <div class="alert alert-warning" *ngIf="error_message">{{error_message}}</div>
  <div class="panel-content" [ngStyle]="{ height: error_message ? 'calc(100% - 120px)' : 'calc(100% - 100px)'}">

    <div class="formrow">
      <qw-collection-menu label="Namespace"
                          *ngIf="scoped_permitted"
                          [allowEmpty]="global_permitted"
                          [disabled]="!is_new"
                          [hideCollections]="true"
                          [initialSelection]="initialNamespace"
                          (onSelection)="namespace_changed($event)"
                          emptyPlaceholder="( global )">
      </qw-collection-menu>
      <div *ngIf="!scoped_permitted">
        <label class="margin-bottom-0">Namespace</label>( global )</div>
    </div>

    <div class="row margin-bottom-half">
      <h4 class="row margin-right-half width-12 max-width-5 flex-left">
        <span *ngIf="new_lib" class="row flex-left">
          <label class="margin-right-half nowrap">Library Name:</label>
          <span
                  *ngIf="libraryNameUsed(name)"
                  class="fa-warning icon force-orange-3 cursor-pointer"
                  appendToBody="true"
                  [ngbTooltip]="'function library name already in use'" container="body"></span>
          <input type="text" [(ngModel)]="lib_name" [ngModelOptions]="{standalone: true}">
        </span>

        <div *ngIf="!new_lib" class="ellipsis">
          {{lib_name}}
        </div>
        <div class="icon fa-search find-icon fix-width-half" (click)="searchDoc()"></div>
      </h4>
    </div>

    <ngx-ace class="udf-lib-ace-editor" (ready)="onMainEditorReady($event)" [(ngModel)]="lib_contents" [ngModelOptions]="{standalone: true}"></ngx-ace>
  </div>

  <div class="panel-footer">
    <a (click)="activeModal.dismiss('cancel')" [hidden]="readonly">
      Cancel
    </a>
    <button
       [hidden]="readonly"
       type="submit"
       [disabled]="errors()"
       (click)="createOrReplaceLibrary()">
       Save
     </button>
    <button
       [hidden]="!readonly"
       type="submit"
       (click)="activeModal.dismiss('cancel')">
      Done
    </button>
  </div>
</div>
</form>
