@CHARSET "UTF-8";

.bucket {
  white-space: nowrap;
  overflow: auto;
  margin-left: 0px;
  cursor: pointer;
  font-size: .875rem;
}

.schema {
  color: #333;
  white-space: nowrap;
  margin-left: 0;
  cursor: default;
}

.schema .indexed {
  color: #333;
  font-weight: bold;
}

.index {
  white-space: nowrap;
}
