@CHARSET "UTF-8";

.bucket {
  font-weight: normal;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 0px;
  cursor: pointer;
}

.schema {
  color: #888;
  font-style: italic;
  font-size: small;
  white-space: nowrap;
  cursor: default;
}

.schema .indexed {
  color: #333;
  font-weight: bold;
}

.index {
  color: #43108c;
  font-style: normal;
  font-size: small;
  white-space: nowrap;
  margin-left: 1em;
  cursor: default;
}
