<form class="forms">
<div class="dialog-lg dialog-resizable" style="height:80vh">
  <div class="panel-header">
    <h2 class="ellipsis">{{header}}</h2>
    <a class="ui-dialog-titlebar-close modal-close" (click)="activeModal.dismiss('X')">X</a>
  </div>
  <div class="alert alert-warning" *ngIf="error_message">{{error_message}}</div>
  <div class="panel-content" [ngStyle]="{ height: error_message ? 'calc(100% - 120px)' : 'calc(100% - 100px)'}">
    <div class="row margin-bottom-half">
      <h4 class="row margin-right-half width-12 max-width-5 flex-left">
        <span *ngIf="new_doc" class="row flex-left">
          <label class="margin-right-half">ID</label>
          <input type="text" [(ngModel)]="doc_id" [ngModelOptions]="{standalone: true}">
        </span>
        <div *ngIf="!new_doc" class="ellipsis">
          {{doc_id}}
        </div>
        <div class="icon fa-search find-icon fix-width-half" (click)="searchDoc()"></div>
      </h4>
      <span class="pills" [hidden]="!doc_meta">
        <a (click)="setShowData(true)"
           [ngClass]="{selected: getShowData()}">Data</a>
        <a (click)="setShowData(false)"
           [ngClass]="{selected: !getShowData()}">Metadata</a>
      </span>
    </div>
    <ngx-ace *ngIf="showData" class="doc-ace-editor" (ready)="onMainEditorReady($event)" [(ngModel)]="doc_json" [ngModelOptions]="{standalone: true}"></ngx-ace>
    <ngx-ace *ngIf="!showData" class="doc-ace-editor" (ready)="onMetaEditorReady($event)" [(ngModel)]="doc_meta" [ngModelOptions]="{standalone: true}"></ngx-ace>
  </div>
  <div class="panel-footer">
    <a (click)="activeModal.dismiss('cancel')" [hidden]="readonly">
      Cancel
    </a>
    <button
       [hidden]="readonly"
       type="submit"
       [disabled]="errors()"
       (click)="!errors() && activeModal.close({json: doc_json,id: doc_id})">
       Save
     </button>
    <button
       [hidden]="!readonly"
       type="submit"
       (click)="activeModal.dismiss('cancel')">
      Done
    </button>
  </div>
</div>
</form>
