<!--
Copyright 2020-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="dialog-med">
  <div class="panel-header">
    <h2 class="ellipsis">{{error_title}}</h2>
  </div>
  <form class="forms">
  <div class="panel-content">
    <div class="row">
      <span *ngIf="!info" class="icon red-3 fa-warning fa-2x">&nbsp;</span>
      <span *ngIf="info" class="icon blue-1 fa-info-circle fa-2x">&nbsp;</span>
      <span class="flex-grow-3">
        <span *ngIf="error_detail" class="break-word">{{error_detail}}</span>
        <ul class="nobullet" *ngIf="error_detail_array">
            <li *ngFor="let msg of error_detail_array">{{msg}}</li>
        </ul>
      </span>
    </div>
  </div>
  <div class="panel-footer">
    <a [hidden]="hide_cancel"
       (click)="activeModal.dismiss('cancel')">
      Cancel
    </a>
    <button
       type="submit"
       (click)="activeModal.close('ok')">
      Continue
    </button>
  </div>
  </form>
</div>
