<!--
Copyright 2021-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div *ngIf="!qms.valid()">
  No query service found. If the cluster recently started, try reloading the page.
</div>


<!-- Function Libraries Table  ************************************  -->

<div *ngIf="qms.valid()">

<div *ngIf="qms.isEnterprise()">
<h4 class="margin-top-half">Javascript Function Libraries</h4>
<div *ngIf="!externalPermitted()" class="margin-bottom-1">
  <smalL class="margin-left-1">Insufficient permissions to view/edit external function libraries. Either Global Manage External or Scoped Manage External roles required.</smalL>
</div>
<div *ngIf="externalPermitted()" class="qm-table-active cbui-table margin-bottom-2">
  <!-- table wrapper -->
  <div class="cbui-table-header flex-grow-half padding-left">
    <!-- table header row, no <section> wrapper -->
    <span class="cbui-table-cell" (click)="update_lib_sort('namespace')">namespace
      <span *ngIf="show_up_caret_lib('namespace')" class="icon fa-caret-up"></span>
      <span *ngIf="show_down_caret_lib('namespace')" class="icon fa-caret-down"></span>
    </span>
    <span class="cbui-table-cell" (click)="update_lib_sort('name')">name
      <span *ngIf="show_up_caret_lib('name')" class="icon fa-caret-up"></span>
      <span *ngIf="show_down_caret_lib('name')" class="icon fa-caret-down"></span>
    </span>
    <span class="cbui-table-cell flex-grow-2">definition</span>
    <span class="cbui-table-cell flex-grow-half"></span>
  </div>

  <section
     *ngFor="let lib of get_sorted_libs()">
    <div class="cbui-tablerow padding-left">
      <span class="cbui-table-cell">
        <span *ngIf="lib.bucket.length && lib.scope.length">{{lib.bucket}}.{{lib.scope}}</span>
        <span *ngIf="!lib.bucket.length || !lib.scope.length">( global )</span>
      </span>
      <span class="cbui-table-cell">
        {{lib.name}}
      </span>
      <span class="cbui-table-cell flex-grow-2"
            ngbTooltip="{{lib.content}}"
            placement="auto"
            container="body"
            tooltip-class="break-word">
      {{lib.content}}
      </span>
      <span class="cbui-table-cell text-right flex-grow-half">
        <a class="margin-right-1" (click)="editLibrary(lib)">edit</a>
        <a (click)="dropLibrary(lib)">drop</a>
       </span>
    </div>
  </section>
  <div class="cbui-tablerow padding-left">
    <a (click)="createLibrary()">+ add function library</a>
  </div>
</div>
</div>

<!-- Functions Table  ************************************  -->
<h4>User-Defined Functions</h4>
<div *ngIf="!viewFunctionsPermitted()">
  <small class="margin-left-1">Insufficient permissions to view user-defined functions. Query System Catalog role required.</small>
</div>
<div *ngIf="viewFunctionsPermitted()" class="padding-bottom-6">
  <div class="qm-table-active cbui-table">
    <!-- table wrapper -->
    <div class="cbui-table-header padding-left">
      <!-- table header row, no <section> wrapper -->
      <span class="cbui-table-cell" (click)="update_function_sort('scope')">namespace
          <span *ngIf="show_up_caret_function('scope')" class="icon fa-caret-up"></span>
          <span *ngIf="show_down_caret_function('scope')" class="icon fa-caret-down"></span>
      </span>
      <span class="cbui-table-cell flex-grow-half" (click)="update_function_sort('name')">function name
          <span *ngIf="show_up_caret_function('name')" class="icon fa-caret-up"></span>
          <span *ngIf="show_down_caret_function('name')" class="icon fa-caret-down"></span>
      </span>
      <span class="cbui-table-cell flex-grow-half" (click)="update_function_sort('language')">language
          <span *ngIf="show_up_caret_function('language')" class="icon fa-caret-up"></span>
          <span *ngIf="show_down_caret_function('language')" class="icon fa-caret-down"></span>
      </span>
      <span class="cbui-table-cell flex-grow-half">parameters</span>
      <span class="cbui-table-cell flex-grow-2">definition / expression</span>
      <span class="cbui-table-cell flex-grow-half"></span>
    </div>

    <section *ngFor="let function of get_sorted_udfs()">
      <div class="cbui-tablerow padding-left">
        <span
           class="cbui-table-cell"
           ngbTooltip="{{getFunctionScope(function)}}"
           placement="auto"
           container="body"
           tooltip-class="break-word">
          <span>{{getFunctionScope(function)}}</span>
        </span>
        <span class="cbui-table-cell flex-grow-half has-hover"
              ngbTooltip="{{function.identity.name}}">
          {{function.identity.name}}
        </span>
        <span class="cbui-table-cell flex-grow-half has-hover"
              ngbTooltip="{{getFunctionLanguage(function)}}">
          {{getFunctionLanguage(function)}}
        </span>
        <span class="cbui-table-cell flex-grow-half has-hover"
              ngbTooltip="{{getFunctionParams(function)}}">
          {{getFunctionParams(function)}}
        </span>
        <span class="cbui-table-cell flex-grow-2 has-hover"
              ngbTooltip="{{function.definition.object || function.definition.text}}">
          {{function.definition.object || function.definition.text}}
        </span>
        <span class="cbui-table-cell text-right flex-grow-half">
          <a *ngIf="manageFunctionsPermitted()" class="margin-right-1" (click)="editFunction(function)">edit</a>
          <a *ngIf="manageFunctionsPermitted()" (click)="dropFunction(function)">drop</a>
          <a *ngIf="!manageFunctionsPermitted()" class="margin-right-1" (click)="editFunction(function)">view</a>
        </span>
      </div>
    </section>
      <div *ngIf="manageFunctionsPermitted()" class="cbui-tablerow padding-left">
        <a (click)="createFunction()">+ add function</a>
      </div>
  </div>

</div>
</div>
