`<!--
     Copyright 2021-Present Couchbase, Inc.

     Use of this software is governed by the Business Source License included
     in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
     in that file, in accordance with the Business Source License, use of this
     software will be governed by the Apache License, Version 2.0, included in
     the file licenses/APL2.txt.
-->

<div *ngIf="!docViewer()">
  Insufficient permissions to view documents. User must have at least Data Reader on one or more
  collections, and also the ability to view scopes and collections in that bucket.
</div>

<div class="doc-editor" *ngIf="docViewer()">


  <mn-element-cargo
     depot="actions"
     [hidden]="dec.options.selected_bucket == null">
    <div class="header-controls">
      <a (click)="dec.createBlankDoc()"
       [hidden]="!dec.can_add_document()">
        ADD <span class="resp-hide-xsml">DOCUMENT</span>
      </a>
    </div>
  </mn-element-cargo>

<qw-docs-subnav></qw-docs-subnav>

  <!-- row of controls for the query ----------------------------------------- -->
  <form name="searchForm">
  <div [formGroup]="searchForm" class="controls resp-med">
    <qw-collection-menu
       class="column"
       label="Keyspace"
       [initialSelection]="dec.options"
       (onSelection)="dec.collectionMenuCallback($event)">
    </qw-collection-menu>

    <div class="column">
      <div>
        <h5 class="inline">Limit&nbsp;</h5>
        <span
           class="fa-stack icon-info"
           ngbTooltip="How many documents to retrieve at once (max 200)."
           placement="auto"
           container="body"
           tooltip-trigger="mouseenter">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>
      <input
         type="number"
         min="1"
         max="200"
         required
         [attr.disabled]="(dec.options.show_id && dec.options.doc_id) || null"
         (submit)="dec.retrieveDocs()"
         formControlName="limit"
         [ngClass]="{'ng-invalid-number': searchForm.get('limit').invalid}"
         class="fix-width-1">
    </div>

    <div class="column">
      <div>
        <h5 class="inline">Offset&nbsp;</h5>
        <span
           class="fa-stack icon-info"
           ngbTooltip="Start showing documents after this many in the entire set."
           placement="top"
           container="body"
           tooltip-trigger="mouseenter">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>
      <input
         type="number"
         name="offset"
         min="0"
         required
         [attr.disabled]="(dec.options.show_id && dec.options.doc_id) || null"
         formControlName="offset"
         [ngClass]="{'ng-invalid-number': searchForm.get('offset').invalid}"
         class="fix-width-1">
    </div>

    <div class="column flex-grow-1">
      <div class="row row-min">
        <span>
          <h5 class="inline">Document ID&nbsp;</h5>
          <span
             class="fa-stack icon-info"
             ngbTooltip="Find a specific document, specify a range of IDs, or leave blank to retrieve all or use a WHERE clause."
             placement="top"
             container="body"
             tooltip-trigger="mouseenter">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
        </span>
        <a (click)="dec.show_id(!dec.options.show_id)" class="text-smaller">
          <span *ngIf="dec.options.show_id">show range</span>
          <span *ngIf="!dec.options.show_id">hide range</span>
        </a>
      </div>
      <input
         type="text"
         formControlName="doc_id"
         *ngIf="dec.options.show_id"
         [attr.disabled]="dec.options.where_clause || null"
         placeholder="optional..."
         class="width-12">
      <input
         type="text"
         *ngIf="!dec.options.show_id"
         [attr.disabled]="dec.options.where_clause || null"
         formControlName="doc_id_start"
         placeholder="starting..."
         class="width-6">
      <input
         type="text"
         *ngIf="!dec.options.show_id"
         [attr.disabled]="dec.options.where_clause || null"
         formControlName="doc_id_end"
         placeholder="ending..."
         class="width-6">
    </div>

    <div class="column flex-grow-2">
      <h5 class="inline"
         ng-disabled="!dec.can_use_n1ql() || (dec.options.doc_id || dec.options.doc_id_start || dec.options.doc_id_end)">
        N1QL WHERE&nbsp;
      </h5>
      <span
         class="fa-stack icon-info"
         ngbTooltip="Show only documents that satisfy a N1QL WHERE clause such as meta().id = &quot;some_id&quot; and type = &quot;a_type&quot;"
         placement="top"
         container="body"
         tooltip-trigger="mouseenter">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <br>
      <input
         type="text"
         formControlName="where_clause"
         (change)="dec.where_changed()"
         [attr.disabled]="(!dec.can_use_n1ql() || (dec.options.show_id && dec.options.doc_id) || (!dec.options.show_id && (dec.options.doc_id_start || dec.options.doc_id_end))) || null"
         class="width-12"
         placeholder="{{dec.has_indexes() ? 'optional...' : 'no indexes available...'}}">
    </div>

    <div style="display:none;" class="resp-show-sml margin-top-half width-12"></div>
    <div class="column">
      <button
         type="submit" value="submit"
         [disabled]="searchForm.invalid || !dec.options.selected_bucket || (dec.compat.atLeast70 && !dec.options.selected_collection)"
         (click)="dec.retrieveDocs()"
         class="fix-width-3">
          Retrieve Docs
        <span *ngIf="dec.options.queryBusy" class="icon-button">
          <span class="icon fa-spinner fa-spin fa-pulse"></span>
        </span>
      </button>
    </div>
  </div>
  </form>

<!-- row for result query text, toggle, & next/previous buttons *********** -->
  <div class="row resp-sml margin-bottom-half"   *ngIf="!dec.options.queryBusy && dec.options.selected_bucket && dec.options.current_query.length > 0">
    <div class="text-small resp-margin-sml">
      <strong>
        <span *ngIf="dec.tableHasRows()">{{dec.resultSize()}}</span>
        <span *ngIf="!dec.tableHasRows()">No </span>
       Results for&nbsp;</strong> <em>{{dec.options.current_query}}</em>
    </div>
    <div class="row text-small margin-right-half resp-margin-sml nowrap">
      <label for="show_tables" class="toggle-control">
        <input (change)="dec.options.config_notify()"
           type="checkbox" id="show_tables"
           [(ngModel)]="dec.options.show_tables">
        <span class="toggle-control-body"></span>
      </label>
      enable field editing
    </div>
    <div class="text-right nowrap pagination padding-right-min">
      <a
         (click)="dec.prevBatch()"
         [ngClass]="{'disabled-link' : dec.options.offset <= 0 || dec.options.doc_id || dec.options.showTopKeys}">
        &lt; prev batch</a>
      <span class="text-smaller grayblack-3">&nbsp; |</span>
      <a
         (click)="dec.nextBatch()"
         [ngClass]="{'disabled-link' : dec.options.doc_id || dec.options.current_result.length == 0 || dec.options.current_query.startsWith('top keys') || dec.options.showTopKeys}">
        next batch &gt;</a>
    </div>
  </div>

  <!-- results (documents or status messages) ***************************** -->
  <div *ngIf="dec.options.queryBusy">Retrieving results...</div>
  <div [hidden]="!dec.show_results || dec.options.queryBusy">
    <div class="row" *ngIf="dec.options.selected_bucket">
      <div class="doc-editor-results show-scrollbar">
        <qw-json-table-editor2
           [config_subject]="dec.options.config_subject"
           [controller]="dec"></qw-json-table-editor2>
      </div>
    </div>
  </div>
</div>
