/*
 * these css layout classes are used in the query-ui, but should eventually
 * be moved into the master CSS.
 */

/*
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
*/
.cbui-overflow {
  overflow: auto;
}

.cbui-row {
  padding: 6px 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cbui-row.cbui-rounded-top {
  border-radius: 4px 4px 0px 0px;
}

.cbui-row.cbui-align-right {
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cbui-row.cbui-align-top {
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cbui-row.cbui-padding0 {
  padding: 0;
}

.cbui-row.cbui-margin-top8 {
  margin: 8px 0 0 0;
}

.cbui-row.cbui-margin-top20 {
  margin: 20px 0 0 0;
}

.cbui-row.cbui-align-left {
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cbui-column50 {
  -webkit-flex: 1 0 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  min-width: 0;
}

.cbui-column25 {
  -webkit-flex: 1 0 25%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  min-width: 0;
}

.cbui-column33 {
  -webkit-flex: 1 0 33%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  min-width: 0;
}

.cbui-column66 {
  -webkit-flex: 1 0 66%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 66%;
          flex: 1 0 66%;
  min-width: 0;
}

.cbui-column75 {
  -webkit-flex: 1 0 74%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 74%;
          flex: 1 0 74%;
  min-width: 0;
}

.cbui-centered {
  text-align: center;
}

.cbui-right {
  text-align: right;
}

a.cbui-rightmargin {
  margin: 0 12px 0 0;
}

.cbui_color_success {
  border: 1px solid;
  border-color: #a5ff9f
}

.cbui_color_fail {
  border: 1px solid;
  border-color: #fc7d83
}

.cbui-query-resultsnumber input {
  width: 68px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.cbui-header-oldgray {
  background: #e3e3e4; /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e3e3e4 0%, #cdced0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e3e3e4 0%, #cdced0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e4',
    endColorstr='#cdced0', GradientType=0); /* IE6-9 */
}

.cbui-error-message {
  font-size: 14px;
  color: #616062;
}
.cbui-nodelist {
  font-size: 14px;
  font-weight: normal;
  padding: 0 0 15px 9px;
}

#query_ui h2 {
  margin-left: 8px;
  font-size: 19px;
  font-weight: 500;
  color: #333;
}

#query_ui h4 {
  display: inline-block;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #444;
}

#query_ui h5 {
  display: inline-block;
  margin: 0 8px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.cbui-refreshicon {
  height: 20px;
  width: auto;
  cursor: pointer;
}

.cbui-busyicon {
  height: 20px;
  width: auto;
  cursor: none;
}

#sidebar_body {
  background-color: #fff;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  min-height: 128px;
}

#sidebar_header {
  min-height: 32px
}

#metadata {
  background-color: #fff;
  margin-right: 2px
}

#result_box {
    border-left: 1px solid #cdced0;
  }

#result_header {
  padding: 5px 8px
}

#result_header ul {
  display: inline-block;
  border: 1px solid #cdced0;
}

#result_summary {
  padding: 8px 8px;
  margin-right: 2px;
  font-size: 14px;
  font-weight: 400;
  min-height: 20px;
}

#result_summary table, #result_summary th, #result_summary tr,
  #result_summary td {
  font-size: 11px;
  font-weight: 600;
  vertical-align: middle;
}

#result_summary td {
  width: 20%;
  text-align: center;
  padding: 4px 0;
}

#result_summary table {
  
}

#query_editor {
  overflow: auto;
  background-color: #fff;
  padding: 8px;
  margin: 1px;
  font-size: 14px;
  font-weight: 400;
  min-height: 75px; 
  border-right: 1px solid #e3e3e4;
}

#result_editor {
  overflow: auto;
  background-color: #fff;
  padding: 8px;
  margin: 1px;
  font-size: 14px;
  font-weight: 400;
}

#result_table, #result_tree {
  height: 200px;
  padding: 0px;
  padding-right: 4px;
  margin-right: 4px;
  margin-top: 0px;
  overflow: auto;
  background-color: #fff;
}

.cbui-viewslist {
  overflow: auto;
  width: 100%
}

.cbui-query-results-wrapper {
  border-radius: 4px 4px 0px 0px;
  margin: 1px 0 0 0;
  padding: 0;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #cdced0;
  border-width: 0 1px 1px 1px;
}
