<div id="maiPanel" class="query" ng-controller="mnQueryController as qc">
  <h3 ng-if="qc.validated.inProgress()">Contacting Query Node</h3>
  <div ng-if="!qc.validated.inProgress() && !qc.validated.valid()">
    <div ng-if="qc.validated.otherStatus()">
    <h2>Unable to access query panel: {{qc.validated.otherStatus()}}</h2>
    <h2>{{qc.validated.otherError()}}</h2>
    </div>
    <div ng-if="qc.validated.otherNodes().length">
      <h1>The query interface is only available on Couchbase nodes
        running the query service.</h1>
      <h1>Query services were found at the following nodes:</h1>
      <ul>
        <li class="cbui-nodelist"
          ng-repeat="url in qc.validated.otherNodes()"><a
          href="{{url}}">{{url}}</a></li>
      </ul>
    </div>
    <div ng-if="qc.validated.otherNodes().length == 0">
      <h1>No query nodes were found on this cluster, so querying is not possible.</h1>
    </div>
  </div>
  <!-- ul ng-if="qc.validated.valid()" class="second-level-nav">
    <li><a ui-sref="app.admin.query.workbench"
      ui-sref-active="selected">Workbench</a></li>
    <li>
      <a
        ui-sref="app.admin.query.monitoring"
        ng-class="{selected: ('app.admin.query.monitoring' | includedByState)}">Monitoring</a>
    </li>
  </ul -->
  <div ui-view=""></div>
</div>