
<div id="query_pane" style="background-color: #fff"
  ng-controller="qwQueryController as qc" ng-if="qc.validated.valid()"
  class="container ui-layout-center shadow_box">

  <div id="query_ui" mn-spinner="queryInProgress" class="contents">
    <div id="query_box" class="query_box">
      <div id="query_header"
        class="cbui-row cbui-header-oldgray cbui-rounded-top">
        <span class="cbui-column25"> <a ng-click="qc.query()"
          class="btn_1"><span title="(or hit enter after a semicolon)" ng-if="!qc.executingQuery.busy">Execute</span>
          <span title="Stop the running query" ng-if="qc.executingQuery.busy">Cancel</span></a>
        </span> <span class="cbui-column cbui-centered"> <a
          title="View previous queries/results" ng-click="qc.prev()"
          class="btn_1" ng-class="{dynamic_disabled: !qc.hasPrev()}">
            <span>&larr;</span>
        </a>
          <h5>{{qc.getCurrentIndex()}}</h5> <a
          title="View subsequent queries/results" ng-click="qc.next()"
          class="btn_1 cbui-rightmargin"
          ng-class="{dynamic_disabled: !qc.hasNext()}"><span>&rarr;</span>
        </a> <a ng-click="qc.clearHistory()"
          ng-class="{dynamic_disabled: qc.executingQuery.busy}"
          ng-disabled="qc.executingQuery.busy"
          class="btn_1 cbui-rightmargin"> <span>Clear History</span>
        </a>
        </span> <span class="cbui-column25 cbui-right"> <a
          ng-click="qc.save_query()" class="btn_1"> <span>Save
              Query</span></a>
        </span>
      </div>

      <div class="" id="query_editor" ui-ace="qc.aceInputOptions"
        ng-class="{dynamic_disabled: qc.executingQuery.busy}"
        ng-model="qc.lastResult.query">Ace</div>

    {{qc.renderPage()}}

      <!--  div class="cbui-row cbui-header-oldgray">
        <a ng-click="qc.query()" class="btn_1"
          ng-class="{dynamic_disabled: qc.executingQuery.busy}"
          title="(or hit enter after a semicolon)"><span>Execute</span></a>
        <span class="cbui-query-resultsnumber"><h5>Result
            limit:</h5> <input type="number" step="50" placeholder="50"
          min="0" ng-model="qc.limit.max" ng-pattern="/^[0-9]+$/"
          required /> </span>
      </div -->
    </div>

    <!-- Next we want the metadata and result boxes side by side -->
    <div class="cbui-row cbui-align-top cbui-query-results-wrapper">
      <div id="metadata" class="cbui-column25">
        <div id="sidebar_header" class="cbui-row cbui-header-oldgray">
          

          <span><img ng-hide="qc.gettingBuckets.busy"
            ng-click="qc.updateBuckets()" class="cbui-refreshicon"
            src="/_p/ui/query/images/spinner/spinner_lightbox_static.gif" />
            <img ng-show="qc.gettingBuckets.busy" class="cbui-busyicon"
            src="/_p/ui/query/images/spinner/spinner_lightbox.gif" />
            <h4>&nbsp Bucket Analysis</h4></span>
            
            <a title="resize" ng-click="qc.toggleAnalysisSize()"
            class="btn_1" ng-class="{dynamic_disabled: !qc.hasPrev()}">
            <span ng-if="!qc.analysisExpanded">&raquo;</span>
            <span ng-if="qc.analysisExpanded">&laquo;</span>
                    </a>            
          </span>

        </div>

        <div id="sidebar_body" class="cbui-overflow">
          <div title="Buckets with a primary index support all queries.">
            Fully Queryable Buckets
            <ul class="bucket">
              <li class="bucket" ng-repeat="bucket in qc.buckets"
                ng-show="bucket.has_prim">
                <div bucket-display="bucket"></div>
              </li>
            </ul>
          </div>

          <div
            title="Buckets with only secondary indexes require a 'where' clause using indexed fields.">
            Queryable on Indexed Fields
            <ul class="bucket">
              <li class="bucket" ng-repeat="bucket in qc.buckets"
                ng-show="!bucket.has_prim && bucket.has_sec">
                <div bucket-display="bucket"></div>
              </li>
            </ul>
          </div>

          <div title="Buckets with no index cannot be queried.">
            Non-Indexed Buckets
            <ul class="bucket">
              <li class="bucket" ng-repeat="bucket in qc.buckets"
                ng-show="!bucket.has_prim && !bucket.has_sec">
                <div bucket-display="bucket"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Result panel -->
      <div id="result_box" class="cbui-column75">
        <div id="result_inner">
          <div id="result_header" class="cbui-row cbui-header-oldgray">
            <ul class="tabs">
              <li class="tab_left"><a ng-click="qc.selectTab(1)"
                ng-class="{selected: qc.isSelected(1)}">JSON</a></li>
              <li class="tab_middle"><a ng-click="qc.selectTab(2)"
                ng-class="{selected: qc.isSelected(2)}">Table</a></li>
              <li class="tab_right"><a ng-click="qc.selectTab(3)"
                ng-class="{selected: qc.isSelected(3)}">Tree</a></li>
            </ul>
            <h4>Results</h4>
            <a style="overflow: hidden; line-height: 34px;"
              ng-click="qc.save()" class="btn_1 dynamic_enabled"><span>Save
                JSON</span></a>
          </div>


          <div id="result_summary" ng-hide="qc.lastResult.hide"
            class="panes">
            <div>
              <table class="cbui-viewslist">
                <thead>
                  <tr>
                    <td
                      ng-class="{cbui_color_success: qc.status_success(), cbui_color_fail: qc.status_fail()}">
                      Status: {{qc.lastResult.status}}</td>
                    <td>Elapsed: {{qc.lastResult.elapsedTime}}</td>
                    <td>Execution: {{qc.lastResult.executionTime}}</td>
                    <td>Result Count: {{qc.lastResult.resultCount}}</td>
                    <td>Result Size: {{qc.lastResult.resultSize}}</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>

          <!-- div>last result: {{qc.lastResult.resultSize}}, table size: {{qc.maxTableSize}}, lt: {{qc.lastResult.resultSize < qc.maxTableSize}}</div -->
          <div id="show_anyway" ng-if="!qc.showBigDatasets && qc.dataTooBig()">
          {{qc.getBigDataMessage()}} 
          <a ng-click="qc.setShowBigData(true)">Show anyway.</a></div>
          <div id="result_editor" ui-ace="qc.aceOutputOptions"
            ng-if="qc.isSelected(1) && (!qc.dataTooBig() || qc.showBigDatasets)"
            ng-model="qc.lastResult.result"
            style="border-right: 1px solid #e3e3e4;"></div>
          <div id="result_table"
            ng-if="qc.isSelected(2) && (!qc.dataTooBig() || qc.showBigDatasets)"
            qw-json-table="qc.lastResult.data"></div>
          <div id="result_tree"
            ng-if="qc.isSelected(3) && (!qc.dataTooBig() || qc.showBigDatasets)"
            qw-json-tree="qc.lastResult.data"></div>
        </div>

      </div>
    </div>

  </div>