/* BASE RESET
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight:normal;
  vertical-align: baseline;
  background: transparent;
}
-----------------------------------------------------------------------------*/


/* BASE TYPOGRAPHY
-----------------------------------------------------------------------------*/
a:active,
a:hover {
  outline: 0;
}
a {
	text-decoration:none;
}

/* workbench-specific styles ---------------------------------------------- */

/*
body {
	color: #616062;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size:14px;
	padding:40px;
}
*/
button {
	display:inline-block;
	padding:6px 12px;
	background-color:#aaa;
	cursor:pointer;
	border-radius: 3px;
	border: 1px outset #ccc;
}

.temp-editor-style {
	border: 1px solid #ccc;
	border-left: 24px solid #eee;
	vertical-align:top;
	padding:12px;
	min-height:120px;
}

row {
	padding: 6px 0;
	display:flex;
	min-height: 32px;
	-webkit-box-align:center;
	-webkit-align-items:center;
	align-items:center;
	flex-wrap:no-wrap;
	justify-content:space-between;
}
	
row.align-right {
	justify-content:flex-end;
}
	
row.align-top {
	align-items:flex-start;
}

row.align-left {
	align-items:flex-start;
}

.cbui-column50 {
	flex: 1 0 50%;
}	

.cbui-column25 {
	flex: 1 0 25%;
}	

.cbui-column75 {
	flex: 1 0 75%;
}	

p {line-height:1.4;}

h1 {
    font-size: 20px;
    font-weight: normal;
}
h3 {
	font-weight:700;line-height:0;display:inline-block;
}

button.cbui-query-historycontrols {
	font-size:24px;
	height: 28px;
	padding: 2px 12px 10px 12px;
	margin: 0 6px 0 6px;
	line-height:0;
}

.cbui-leftrightmargin {
    margin: 20px 20px 20px 20px;
}

a.cbui-rightmargin {
    margin: 0 24px 0 0;
}

.cbui-query-executebutton {
	margin: 0 6px 0 6px;
}

.cbui-query-resultsnumber input {
	width: 48px;
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.temp-results-style {
	border: 1px solid #ccc;
	border-left: 24px solid #eee;
	vertical-align:top;
	padding:12px;
}
	
.cbui-header-oldgray {
	padding-right: 12px;
	background: #e3e3e4; /* Old browsers */
	background: -moz-linear-gradient(top,  #e3e3e4 0%, #cdced0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e3e3e4 0%,#cdced0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e3e3e4 0%,#cdced0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e4', endColorstr='#cdced0',GradientType=0 ); /* IE6-9 */
}

