.qw-explain-wrapper {
  white-space: nowrap;
  overflow: auto;
  position: relative;
  background-color: #fff;
  border-radius: 9px;
  margin-bottom: 1rem;
  border: 1px solid #ececec;
}
.qw-combi-wrapper {
  min-width: 0;
  width: 100%;
}
.qw-rows-wrapper {
  min-width: 0;
  width: 100%;
}
.qw-sequence {
  margin: 1rem 0;
  position: relative;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.qw-sequence:before {
  top: 50%;
  left: 0;
  right: 0;
  background-color: #ececec;
  margin-top: -1px;
  content: "";
  height: 2px;
  position: absolute;
  z-index: 0;
}
.qw-sequence > .qw-node:last-child {
  margin-right: 10px;
}
.qw-combinor-border:after {
  position: absolute;
  top: 0;
  content: "";
  height: 100%;
  width: 2px;
  background-color: #ececec;
  z-index: 0;
}
.qw-arrow-tip {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #d1d1d1;
  margin: 0 1rem;
  padding: 0;
  z-index: 1;
}
.qw-node {
  margin: 0 12px 0px 0px;
  padding: .5rem .75rem;
  border-radius: 2.5rem;
  min-width: 8rem;
  max-width: 14rem;
  font-size: .688rem;
  font-weight: 600;
  background-color: #eceff2;
  line-height: 1.3;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.35);
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.qw-combinor {
  margin-right: -2px;
}
.qw-node.end-of-line {
  margin-right: 0;
}
.qw-first-node {
  margin-left: 0;
  padding-left: 0;
}
.qw-last-node {
  margin-right: 0 !important;
}
.qw-field {
  font-weight: 400;
  color: #333;
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.qw-node.expensive-1 {
  background-image: linear-gradient(to top, #f9ca7b 0%, #f9ca7b 33%, #fdedd3 33%, #fdedd3 100%);
}
.qw-node.expensive-2 {
  background-image: linear-gradient(to top, #f9ca7b 0%,#f9ca7b 67%, #fdedd3 67%, #fdedd3 100%);
}
.qw-node.expensive-3 {
  background: #f9ca7b;
}
.cbui-plan-expensive {  /* This is NOT used in the nodes, but still used in the "slow index" text... */
  color: #cc2a2e;
}

/* zoom controls ---------------- */
.qw-zoom-wrapper {
  white-space: nowrap;
  width: 100%;
  min-width: 0;
  margin: 0 2rem 0 0;
}
.qw-explain-wrapper.qw_zoom_1 > * {
  transform-origin: right top;
  transform: scale(.66);
  transition: transform .5s;
}
.qw-explain-wrapper.qw_zoom_2 > * {
  transform-origin: right top;
  transform: scale(.33);
  transition: transform .5s;
}
