<form class="forms">
<div class="dialog-lg dialog-resizable" id="doc_editor_dialog" style="min-height:600px">
  <div class="panel-header">
    <h2 class="ellipsis">{{header}}</h2>
  </div>
  <div class="alert alert-warning" ng-if="error_message">{{error_message}}</div>
  <div class="panel-content" style="height:calc(100% - 100px)">
    <h4 class="margin-bottom-1">{{doc_id}}</h4>
      <div id="result_box" style="overflow: auto;height:95%">
        <div id="result_editor" ui-ace="ace_options" ng-model="doc_json" style="min-height:400px;height:100%"></div>
      </div>
    </div>
  <div class="panel-footer scroll-shadow">
    <a ng-click="$dismiss('cancel')" ng-hide="readonly">
      Cancel
    </a>
    <button ng-hide="readonly" type="submit" ng-disabled="errors()"
       ng-click="!errors() && $close('ok')">Save</button>
    <button ng-show="readonly" type="submit"
       ng-click="$close('ok')">Done</button>
  </div>
</div>
  </form>
