<div class="dialog-med" id="doc_editor_dialog">
  <div class="panel-header">
    <h2 class="ellipsis">Edit Document</h2>
  </div>
  <form class="forms">
  <div class="panel-content max-height-500">
    <h4>{{doc_id}}</h4>
    <div
       id="result_editor"
       ui-ace="ace_options"
       ng-model="doc_json"
       style="height:1200px;"></div>
    </div>
  </div>

  <div class="panel-footer scroll-shadow">
    <a
       ng-click="$dismiss('cancel')"
       href="">
      Cancel
    </a>
    <button
       type="submit"
       ng-click="!errors() && $close('ok')">Save</button>
  </div>
  </form>
</div>
