<!--
Copyright 2020-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

  <label class="margin-bottom-0">{{label}}&nbsp;<small *ngIf="compat.atLeast70">bucket.scope<span *ngIf="!hideCollections">.collection</span></small></label>
    <mn-select
       class="inline fix-width-2 margin-right-quarter"
       mnFormControlName="bucketName"
       [values]="buckets"
       [group]="keyspaceForm"
       hasSearch="true">
    </mn-select>
    <mn-select
       *ngIf="compat.atLeast70 && !pre70 && (getBucket() || !hideCollections)"
       class="inline fix-width-2 margin-right-quarter"
       mnFormControlName="scopeName"
       [values]="scopes_subject | async"
       [group]="keyspaceForm"
       hasSearch="true">
    </mn-select>
    <mn-select
       *ngIf="compat.atLeast70 && !pre70 && !hideCollections"
       class="inline fix-width-2 margin-right-quarter"
       mnFormControlName="collectionName"
       [values]="collections_subject | async"
       [group]="keyspaceForm"
       hasSearch="true">
    </mn-select>
    <span
       *ngIf="errors && compat.atLeast70"
       placement="auto"
       container="body"
       class="fa-warning icon orange-3 cursor-pointer"
       [ngbTooltip]="errors">
    </span>
