
  <label class="margin-bottom-0">{{label}}&nbsp;<small *ngIf="compat.atLeast70">bucket.scope.collection</small></label>
    <mn-select
       class="inline fix-width-2 margin-right-quarter"
       mnFormControlName="bucketName"
       [values]="buckets"
       [group]="keyspaceForm"
       hasSearch="true">
    </mn-select>
    <mn-select
       *ngIf="compat.atLeast70 && !pre70"
       class="inline fix-width-2 margin-right-quarter"
       mnFormControlName="scopeName"
       [values]="scopes_subject | async"
       [group]="keyspaceForm"
       hasSearch="true">
    </mn-select>
    <mn-select
       *ngIf="compat.atLeast70 && !pre70"
       class="inline fix-width-2 margin-right-quarter"
       mnFormControlName="collectionName"
       [values]="collections_subject | async"
       [group]="keyspaceForm"
       hasSearch="true">
    </mn-select>
    <span
       *ngIf="errors"
       placement="auto"
       tooltip-append-to-body="true"
       class="fa-warning icon orange-3 cursor-pointer"
       [ngbTooltip]="errors">
    </span>
