<!--
Copyright 2020-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="wb-results-explain">
  <p *ngIf="dataIsString" class="text-small margin-left-half">{{ data }}</p>
  <p *ngIf="dataIsArray" class="text-small margin-left-half">Graphical plans are not supported for multiple query sequences. Try the plan text view.</p>
  <p *ngIf="(!data || (data && data['No data to display']))" class="text-small margin-left-half">Hit enter to run query</p>
  <div *ngIf="(data && data.errors)">
    <p *ngFor="let error of data.errors" class="text-small margin-left-half">{{ error.msg }}</p>
  </div>

  <div *ngIf="data && data.analysis">
    <div class="row wb-explain-summary">

      <div *ngIf="data.mode == 'analytics'" class="column">
        <b>Datasets</b><br> <em *ngFor="let dataset of datasets">{{ dataset }}&nbsp;&nbsp;</em>
      </div>

      <div class="column">
        <b>Indexes</b><br>
        <em *ngFor="let i of data.analysis.indexes" class="cbui-plan-expensive">{{ i }}&nbsp;&nbsp;</em>
      </div>

      <div *ngIf="data.mode != 'analytics'" class="column">
        <b>Buckets</b><br>
        <em *ngFor="let b of data.analysis.buckets">{{ b }}&nbsp;&nbsp;</em>
      </div>

      <div class="column">
        <b>Fields</b><br>
        <em *ngFor="let f of data.analysis.fields">{{ f }}&nbsp;&nbsp;</em>
      </div>

      <div class="column row flex-grow-half flex-right">
        <span (click)="leftRight()" class="icon fa-caret-square-o-left wb-explain-plan-orient"  [ngClass]="{'wb-explain-plan-selected-orient' : orientIs(1)}" title="change plan direction"></span>
        <span (click)="rightLeft()" class="icon fa-caret-square-o-right wb-explain-plan-orient" [ngClass]="{'wb-explain-plan-selected-orient' : orientIs(3)}" title="change plan direction"></span>
        <span (click)="bottomTop()" class="icon fa-caret-square-o-down wb-explain-plan-orient"  [ngClass]="{'wb-explain-plan-selected-orient' : orientIs(4)}" title="change plan direction"></span>
        <span (click)="topDown()" class="icon fa-caret-square-o-up wb-explain-plan-orient" [ngClass]="{'wb-explain-plan-selected-orient' : orientIs(2)}" title="change plan direction"></span>
      </div>

      <div class="column row flex-right">
        <span (click)="zoomIn()"  class="icon fa-search-minus wb-explain-plan-zoom" title="zoom out - or use scroll wheel"></span>
        <span (click)="zoomOut()" class="icon fa-search-plus wb-explain-plan-zoom" title="zoom in - or use scroll wheel"></span>
      </div>

    </div>
  </div>

  <div class="wb-explain-d3-wrapper"></div>
</div>