<!--
Copyright 2021-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div style="height: 100%" >
  <!-- Error messages are JSON, but not an array -->
  <div *ngIf="!isArray() && !isError()" class="padding-1 text-small">
    No data to chart. First execute a query.
  </div>
  <div *ngIf="isArray() && isError()" class="padding-1 text-small">
    Query error: {{data[0].msg}}
  </div>

  <!-- query results should be an array -->
  <div *ngIf="isArray() && !isError()" style="height: 100%">
    <div class="row text-small items-top">
      <div class="row flex-wrap items-top flex-left padding-half padding-left-1">
        <span>
          <h6>Chart Type</h6>
          <select
             [(ngModel)]="chartType"
             theme="selectize"
             class="cbui-select margin-right-1 margin-bottom-half text-smaller max-width-3"
             (change)="createChart()">
            <!--option value="xy">X-Y</option-->
            <option value="scatter">X-Y</option>
            <option value="connscatter">Connected Points</option>
            <option value="line">Line</option>
            <option value="area">Area</option>
            <option value="" disabled="disabled">&#x2500;&#x2500;&#x2500;&#x2500;</option>
            <option value="bar">Bar</option>
            <option value="gbar">Grouped Bar</option>
            <option value="" disabled="disabled">&#x2500;&#x2500;&#x2500;&#x2500;</option>
            <option value="pie">Pie</option>
            <option value="donut">Donut</option>
          </select>
        </span>

<!-- menu for field1 -->

        <span>
          <h6>{{get_field1_label()}}</h6>
          <select
             [(ngModel)]="field1"
             theme="selectize"
             class="cbui-select margin-right-1 margin-bottom-half text-smaller max-width-3"
             (change)="createChart()">
            <option
               [attr.title]="ten_sample_values(i)"
               class="ui-select-choices"
               *ngFor="let field of fields(); let i=index"
               [value]="i"
               [disabled]="field_invalid_for_chart_type(i,1)">
              {{field}} - {{get_types(i)}}
            </option>
          </select>
        </span>

<!-- menu for field2 for everything but grouped bars -->
        <span *ngIf="chartType != 'gbar'">
          <h6>{{get_field2_label()}}</h6>
          <select
             [(ngModel)]="field2"
             theme="selectize"
             class="cbui-select margin-right-1 margin-bottom-half text-smaller max-width-3"
             (change)="createChart()">
            <option
               [attr.title]="ten_sample_values(i)"
               class="ui-select-choices"
               *ngFor="let field of fields(); let i=index"
               [value]="i"
               [disabled]="field_invalid_for_chart_type(i,2)">
              {{field}} - {{get_types(i)}}
            </option>
          </select>
        </span>

<!-- special menu for field2 for everything but grouped bars -->
        <div *ngIf="chartType == 'gbar'" class="relative">
          <h6>Values <small class="text-fine">cmd/ctrl + click to multi-select</small></h6>
          <select
             [(ngModel)]="field2_list"
             theme="selectize"
             class="cbui-select text-smaller max-width-3"
             (change)="createChart()"
             multiple
             size="3"
             style="position: absolute;width: 100%;">
            <option
               [attr.title]="ten_sample_values(i)"
               class="ui-select-choices"
               *ngFor="let field of fields(); let i=index"
               [value]="i"
               [disabled]="field_invalid_for_chart_type(i,2)">
              {{field}} - {{get_types(i)}}
            </option>
          </select>

        </div>

<!-- menu for field3 -->
      <span *ngIf="chartType == 'scatter'">
        <h6>{{get_field3_label()}}</h6>
        <select
           [(ngModel)]="field3"
           theme="selectize"
           class="cbui-select margin-bottom-half text-smaller max-width-3"
           (change)="createChart()">
          <option [value]="-1">none</option>
          <option value="" disabled="disabled">&#x2500;&#x2500;&#x2500;&#x2500;</option>
          <option
             [attr.title]="ten_sample_values(i)"
             class="ui-select-choices"
             *ngFor="let field of fields(); let i=index"
             [value]="i"
             [disabled]="field_invalid_for_chart_type(i,3)">
            {{field}} - {{get_types(i)}}
          </option>
        </select>
      </span>
    </div>

<!-- docs count after chart selections -->
    <p class="text-smaller margin-1">
      <span *ngIf="value_count > -1">{{value_count}} / </span>{{data.length}} documents
    </p>
<!-- download chart as SVG -->
    <span (click)="saveChart()" class="icon fa-download icon-clickable" title="Download chart as an SVG image"></span>
  </div>

  <div class="chart-d3-wrapper" style="height: calc(100% - 60px)"></div>
</div>
