@CHARSET "UTF-8";

.bucket {
  font-weight: normal;
  color: #5286BC;
  white-space: nowrap;
  margin-left: 0px;
  cursor: pointer;
}

.schema {
  color: #839B00;
  font-style: italic;
  font-size: small;
  white-space: nowrap;
  margin-left: 1em;
  cursor: default;
}

.schema .indexed {
  color: #839B00;
  font-weight: bold;
}