<div ng-controller="qwDocEditorController as dec" class="doc-editor">

  <mn-element-cargo
     depot="actions"
     ng-if="dec.options.selected_bucket">
    <div class="header-controls">
      <a
       ui-sref="app.admin.buckets.documents.control.list({bucket: dec.options.selected_bucket, statsHostname: 'all'})"
       class="resp-hide-sml">
        CLASSIC <span class="resp-hide-xsml">EDITOR</span>
      </a>

      <a ng-click="dec.createBlankDoc()"
       ng-show="dec.rbac.cluster.bucket[dec.options.selected_bucket].data.docs.upsert">
        ADD <span class="resp-hide-xsml">DOCUMENT</span>
      </a>
    </div>
  </mn-element-cargo>

<!-- row of controls for the query ***************************************** -->
  <div class="controls resp-sml margin-0">
    <div class="controls resp-sml">
     <div class="column">
       <label>Bucket</label>
        <ui-select
          on-select="dec.bucketChanged($item)"
          ng-model="dec.options.selected_bucket"
          theme="selectize"
          class="cbui-select">
        <ui-select-match class="ui-select-match">
          {{$select.selected}}
        </ui-select-match>
        <ui-select-choices
           class="ui-select-choices"
           repeat="bucket in dec.buckets | filter: $select.search">
          <span class="select-item ellipsis" ng-bind-html="bucket | highlight: $select.search"></span>
        </ui-select-choices>
       </ui-select>
      </div>
    </div>
  <form name="searchForm">
  <div class="controls resp-sml">
    <div class="column">
      <div>
        <label class="inline">Limit</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip-html="'How many documents to retrieve at once (max 200).'"
           tooltip-placement="top"
           tooltip-append-to-body="true"
           tooltip-trigger="'mouseenter'">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>
      <input
         type="number"
         min="1"
         max="200"
         required ng-disabled="dec.options.doc_id.length"
         ng-submit="dec.retrieveDocs()"
         ng-model="dec.options.limit" class="input-short-1">
    </div>
    <div class="column">
      <div>
        <label class="inline">Offset</label>
        <span class="fa-stack icon-info"
           uib-tooltip-html="'Start showing documents after this many in the entire set.'"
           tooltip-placement="top" tooltip-append-to-body="true" tooltip-trigger="'mouseenter'">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>
      <input
         type="number"
         min="0"
         required
         ng-disabled="dec.options.doc_id.length"
         ng-submit="dec.retrieveDocs()"
         ng-model="dec.options.offset"
         class="input-short-1">
    </div>
    <div class="column flex-grow-2">
      <label class="inline">Document <a ng-click="dec.show_id(true)">ID</a>/<a ng-click="dec.show_id(false)">Range</a></label>
      <span class="fa-stack icon-info"
          uib-tooltip-html="'Find the document a specific ID. Click Range to specify a range of IDs. Leave blank to retrieve all documents, or use a WHERE clause.'"
          tooltip-placement="top"
          tooltip-append-to-body="true"
          tooltip-trigger="'mouseenter'">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      
      <input type="text"
         ng-model="dec.options.doc_id"
         ng-if="dec.options.show_id"
         ng-submit="dec.retrieveDocs()"
         ng-disabled="(dec.options.where_clause.length > 0)"
         placeholder="enter document ID or leave blank"
         class="width-12">
      <span ng-if="!dec.options.show_id" style="display:inline-block">
      <input type="text"
         ng-model="dec.options.doc_id_start"
         ng-submit="dec.retrieveDocs()"
         ng-disabled="(dec.options.where_clause.length > 0)"
         placeholder="starting document ID">
      <input type="text"
         ng-model="dec.options.doc_id_end"
         ng-submit="dec.retrieveDocs()"
         ng-disabled="(dec.options.where_clause.length > 0)"
         placeholder="ending document ID">
         </span> 
    </div>
    <div class="column margin-top-half flex-grow-2">
      <label class="inline">Where</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip-html="'Show only documents that satisfy this N1QL WHERE clause. Only available on nodes running query service for indexed buckets.'"
         tooltip-placement="top"
         tooltip-append-to-body="true"
         tooltip-trigger="'mouseenter'">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <input
         type="text"
         ng-model="dec.options.where_clause"
         ng-submit="dec.retrieveDocs()"
         ng-disabled="!dec.use_n1ql() || (dec.options.doc_id.length > 0 && dec.options.show_id) || ((dec.options.doc_id_start.length || dec.options.doc_id_end.length) && !dec.options.show_id)"
         class="width-12"
         placeholder="e.g., 'meta().id = &quot;some_id&quot; and type = &quot;a_type&quot;'">
    </div>
    <div style="display:none;" class="resp-show-sml margin-top-half width-12"></div>
    <button
       ng-disabled="searchForm.$invalid || !dec.options.selected_bucket"
       ng-click="dec.retrieveDocs()"
       class="fix-width-3">
        Retrieve Docs
      <span ng-if="dec.options.queryBusy" class="icon-button">
        <span class="icon fa-spinner fa-spin fa-pulse"></span>
      </span>
    </button>
    </div>
  </form>
  </div>

<!-- row for result query text, toggle, & next/previous buttons *********** -->
  <div
     ng-if="dec.options.selected_bucket && dec.options.current_query.length > 0"
     class="row resp-sml margin-bottom-half">
    <div class="text-small resp-margin-sml">
      <strong><span ng-if="dec.resultSize()">{{dec.resultSize()}}</span>
       Results for</strong> <em>{{dec.options.current_query}}</em>
    </div>
    <div class="row text-small resp-margin-sml">
      simple
      <label for="show_tables" class="toggle-control">
        <input
           type="checkbox" id="show_tables"
           ng-model="dec.options.show_tables"
           ng-enabled="true">
        <span class="toggle-control-body"></span>
      </label>
      spreadsheet
    </div>
    <div class="text-right nowrap">
      <button
         ng-click="dec.prevBatch()"
         class="outline tight text-small"
         ng-disabled="dec.options.offset <= 0 || dec.options.doc_id">
        < Prev Batch
      </button>
      <button
         ng-click="dec.nextBatch()"
         class="outline tight text-small"
         ng-disabled="dec.options.doc_id || dec.options.current_result.length == 0">
        Next Batch >
      </button>
    </div>
  </div>

<!-- results (documents or status messages) ***************************** -->
  <div ng-if="dec.options.queryBusy">Retrieving results...</div>
  <div>
    <div
       class="row"
       ng-if="dec.options.selected_bucket && dec.options.current_query.length > 0">
      <div class="doc-editor-results show-scrollbar">
        <qw-json-table-editor
           ng-if="!dec.options.queryBusy"
           data="dec.options.current_result"
           controller="dec">
      </div>
    </div>
  </div>
</div>
