<div ng-controller="qwDocEditorController as dec" id="doc_editor_tabular">

  <mn-element-cargo
     depot="actions"
     ng-if="dec.options.selected_bucket">
    <div class="header-controls">
      <a ng-click="dec.createBlankDoc()">
        ADD DOCUMENT
      </a>
    </div>
  </mn-element-cargo>

<!-- row of controls for the query ***************************************** -->
  <form name="searchForm">
  <div class="row resp-sml flex-left items-bottom controls">
    <div class="column">
      <label>Bucket</label>
      <ui-select
         ng-model="dec.options.selected_bucket"
         theme="selectize"
         class="cbui-select">
        <ui-select-match
           class="ui-select-match">{{$select.selected}}</ui-select-match>
        <ui-select-choices
           class="ui-select-choices"
           repeat="bucket in dec.buckets | filter: $select.search">
           <span class="select-item ellipsis" ng-bind-html="bucket | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="column"><div>
      <label class="inline">Limit</label>
      <span class="fa-stack icon-info"
         uib-tooltip-html="'How many documents to retrieve at once (max 200).'"
         tooltip-placement="top" tooltip-append-to-body="true" tooltip-trigger="'mouseenter'">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
      </span></div>
      <input
         type="number" min="1" max="200" ng-disabled="dec.options.doc_id.length"
         ng-submit="dec.retrieveDocs()"
         ng-model="dec.options.limit" class="input-short-1">
    </div>
    <div class="column"><div>
      <label class="inline">Offset</label>
      <span class="fa-stack icon-info"
         uib-tooltip-html="'Start showing documents after this many in the entire set.'"
         tooltip-placement="top" tooltip-append-to-body="true" tooltip-trigger="'mouseenter'">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
      </span></div>
      <input
         type="number" min="0" ng-disabled="dec.options.doc_id.length"
         ng-submit="dec.retrieveDocs()"
         ng-model="dec.options.offset" class="input-short-1">
    </div>
    <div ng-if="dec.use_n1ql()" class="column margin-top-half flex-grow-2">
      <label class="inline">Where</label>
      <span class="fa-stack icon-info"
           uib-tooltip-html="'Show only documents that satisfy this N1QL WHERE clause.'"
           tooltip-placement="top" tooltip-append-to-body="true" tooltip-trigger="'mouseenter'">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
        <input
           type="text"
           ng-model="dec.options.where_clause"
           ng-submit="dec.retrieveDocs()"
           class="width-12"
           placeholder="e.g., 'meta().id = &quot;some_id&quot; and type = &quot;a_type&quot;'">
    </div>
    <div ng-if="!dec.use_n1ql()" class="column flex-grow-2">
        <label class="inline">Document ID</label>
        <span class="fa-stack icon-info"
            uib-tooltip-html="'Find the document with this ID or leave blank to retrieve documents based on limit and offset.'"
            tooltip-placement="top" tooltip-append-to-body="true" tooltip-trigger="'mouseenter'">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
        <input type="text"
           ng-model="dec.options.doc_id"
           ng-submit="dec.retrieveDocs()"
           placeholder="enter document ID or leave blank"
           class="width-12">
    </div>
    <div style="display:none;" class="resp-show-sml margin-top-half width-12"></div>
    <button ng-disabled="searchForm.$invalid"
       ng-click="dec.retrieveDocs()"
       class="fix-width-3">
        Retrieve Docs
      <span ng-if="dec.options.queryBusy" class="icon-button">
        <span class="icon fa-spinner fa-spin fa-pulse"></span>
      </span>
    </button>
  </div>
  </form>

<!-- Row for result query text & next/previous buttons ********************* -->
  <div
     ng-if="dec.options.selected_bucket && dec.options.current_query.length > 0"
     class="row resp-sml margin-bottom-half">
    <div class="text-small resp-margin-sml">
      <strong>Results for:</strong> &nbsp; <em>{{dec.options.current_query}}</em>
    </div>
    <div class="text-right nowrap">
      <button
         ng-click="dec.prevBatch()"
         class="outline text-small"
         ng-disabled="dec.options.offset <= 0 || dec.options.doc_id">
        < Prev Batch
      </button>
      <button
         ng-click="dec.nextBatch()"
         class="outline text-small"
         ng-disabled="dec.options.doc_id || dec.options.current_result.length == 0">
        Next Batch >
      </button>
    </div>
  </div>

  <!-- Results *************************************************************** -->
  <div ng-if="dec.options.queryBusy">Retrieving Results...</div>
  <!-- div class="doc-editor-results show-scrollbar" -->
  <div ng-if="dec.options.show_scrollbars">
    <div class="row"
      ng-if="dec.options.selected_bucket && dec.options.current_query.length > 0">
      <div class="doc-editor-results show-scrollbar">
        <qw-json-table-editor ng-if="!dec.options.queryBusy"
          data="dec.options.current_result" controller="dec">
      </div>
    </div>
  </div>
  <div ng-if="!dec.options.show_scrollbars">
    <div class="row"
      ng-if="dec.options.selected_bucket && dec.options.current_query.length > 0">
      <div class="doc-editor-results">
        <qw-json-table-editor ng-if="!dec.options.queryBusy"
          data="dec.options.current_result" controller="dec">
      </div>
      <div class="scroll-shadow-horizontal"
        ng-if="dec.options.current_result.length > 0"></div>
    </div>
    <div
      ng-if="dec.options.selected_bucket && dec.options.current_query.length > 0 && !dec.options.queryBusy"
      class="scroll-shadow-bottom"></div>
  </div>
</div>
