<div ng-controller="qwImportController as ic">
  <form name="searchForm">
    <div class="import-wrapper"> <!-- wraps the 2 cols of main pg components --->
      <div class="width-4 import-col1">
        <p class="text-small">
          Select a tab/comma delimited or JSON file to import.
        </p>
        <div class="row flex-left margin-bottom-2">
          <span>
            <input
               type="file"
               id="loadQuery"
               name="files"
               style="display: none"
               accept=".txt,.json,.csv,.tsv">
            <button
               ng-click="ic.selectFile()"
               class="outline margin-right-1"
               ng-disabled="ic.options.importing">
              Select File to Import...
              <span ng-if="ic.options.queryBusy" class="icon-button"></span>
            </button>
          </span>
          <div class="text-smaller">
            {{ic.status}}
            <span
              ng-if="ic.status == 'loading data file'"
              class="loading">
            </span>
          </div>
        </div>
        <div class="formrow">
          <div class="row">
            <label>Parse File As</label>
            <span
               class="text-normal text-smaller green-1"
               ng-class="ic.options.docData.length > 0 ? 'green-1' : 'red-1'">
              found {{ic.options.docData.length}} records
            </span>
          </div>
          <ui-select
             on-select="ic.parseAs($item)"
             ng-model="ic.options.selectedFormat"
             theme="selectize"
             class="cbui-select"
             ng-disabled="ic.options.importing">
            <ui-select-match class="ui-select-match">
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices repeat="item in ic.formats">
              <span class="select-item ellipsis" ng-bind-html="item"></span>
            </ui-select-choices> </ui-select>
        </div>

        <div class="formrow">
          <label>Destination Bucket</label>
          <ui-select
             ng-model="ic.options.selectedBucket"
             theme="selectize"
             class="cbui-select"
             ng-disabled="ic.options.importing">
            <ui-select-match class="ui-select-match">
               {{$select.selected}}
            </ui-select-match>
            <ui-select-choices
               class="ui-select-choices"
               repeat="bucket in ic.buckets | filter: $select.search">
              <span
                 class="select-item ellipsis"
                 ng-bind-html="bucket | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="formrow">
          <label>Import With Document ID</label>
          <div>
            <input type="radio" id="guid" name="docId" ng-model="ic.options.useKey" ng-value="false">
            <label for="guid">UUID</label>
          </div>
          <div>
            <input type="radio" id="field" name="docId" ng-model="ic.options.useKey" ng-value="true">
            <label for="field" ng-disabled="!(ic.options.fields.length > 0)">Value of Field: </label>
            <ui-select
               ng-disabled="!ic.options.useKey || !(ic.options.fields.length > 0) || ic.options.importing"
               ng-model="ic.options.selectedDocIDField"
               theme="selectize"
               class="cbui-select">
              <ui-select-match class="ui-select-match">
                {{$select.selected}}
              </ui-select-match>
              <ui-select-choices ng-enabled="ic.options.useKey" class="ui-select-choices" repeat="field in ic.options.fields">
                <span ng-enabled="ic.options.useKey" class="select-item ellipsis" ng-bind-html="field"></span>
              </ui-select-choices>
            </ui-select>
            <span
               ng-if="ic.options.docData && ic.options.docData.length && ic.options.fields.length==0"
               tooltip-trigger="'mouseenter'"
               tooltip-append-to-body="true"
               class="fa-warning icon orange-3 cursor-pointer"
               uib-tooltip="To use as a document ID, the field must be present in all documents. No common (non-object/non-array) fields were found.">
             </span>
          </div>
        </div>
      </div>

      <div class="width-8">
        <div class="import-clinote">
          <p class="text-small">
            For faster performance, or datasets greater than 100MB, use the
            command-line tool <span class="monospaced bold">cbimport</span>.
          </p>
          <textarea class="monospaced">{{ic.getCbimport()}}</textarea>
          <p class="text-fine margin-bottom-2">
            command generated from your file, destination, and ID selections on the left
          </p>
        </div>

        <div class="row row-min margin-bottom-half margin-top-neg-half resp-hide-sml">
          <label>File Contents</label>
          <span class="pills">
          <a ng-click="ic.selectTab(1)"
             ng-class="{selected: ic.isSelected(1)}">Raw File</a>
          <a ng-click="ic.selectTab(2)"
             ng-class="{selected: ic.isSelected(2)}">Parsed Table</a>
          <a ng-click="ic.selectTab(3)"
             ng-class="{selected: ic.isSelected(3)}">Parsed JSON</a>
          </span>
        </div>

        <div class="importdata-parsedwrapper resp-hide-sml">
          <div
             ng-if="ic.isSelected(1)"
             class="wb-results-json"
             ui-ace="ic.aceFileOptions"
             ng-model="ic.options.fileData"></div>
          <div
             ng-if="ic.isSelected(2)"
             class="wb-results-table import-table-panel"
             qw-json-data-table="ic.options.docData"></div>
          <div
             ng-if="ic.isSelected(3)"
             class="wb-results-json"
             ui-ace="ic.aceFileOptions"
             ng-model="ic.options.docJson"></div>
        </div>
      </div>
    </div>
    <footer class="footer-import">
      <div class="text-center">
        <button
           ng-click="ic.doImport()"
           ng-disabled="!ic.options.docData.length || !ic.options.selectedBucket"
           class="fix-width-3">
           <span ng-if="!ic.options.importing">Import Data</span>
           <span ng-if="ic.options.importing">Cancel Import</span>
        </button>
        <br>
        <div class="width-12">{{ic.options.last_import_status}}</div>
      </div>
    </footer>
  </form>
</div>
