<div
   ng-controller="qwQueryMonitorController as qmc"
   ng-show="qc.validated.valid()"
   class="interim main-content">

  <div class="row margin-bottom-half">
    <div class="text-small">
      <em>
        <span ng-if="qmc.isSelected(1)">Active queries at </span>
        <span ng-if="qmc.isSelected(2)">Slowest completed queries at </span>
        <span ng-if="qmc.isSelected(3)">Prepared queries at </span>
        {{qmc.updatedTime()}} &nbsp;
      </em>
       <a href="" ng-click="qmc.toggle_update()">
         <span ng-if="qmc.get_update_flag()" class='icon fa-pause-circle'></span>
         <span ng-if="!qmc.get_update_flag()" class='icon fa-play-circle'></span>
         {{qmc.get_toggle_label()}}
       </a>
    </div>

    <div class="pills text-right">
      <a ng-click="qmc.selectTab(1)"
         ng-class="{selected: qmc.isSelected(1)}">Active</a>
      <a ng-click="qmc.selectTab(2)"
         ng-class="{selected: qmc.isSelected(2)}">Completed</a>
      <a ng-click="qmc.selectTab(3)"
         ng-class="{selected: qmc.isSelected(3)}">Prepared</a>
    </div>
  </div>

  <div id="active_table" ng-if="qmc.isSelected(1)">
  <table>
    <thead>
        <th ng-click="qmc.update_active_sort('statement')">Query
          <span ng-if="qmc.show_up_caret_active('statement')">&and;</span>
          <span ng-if="qmc.show_down_caret_active('statement')">&or;</span>
        </th>
        <th ng-click="qmc.update_active_sort('node')">Node
          <span ng-if="qmc.show_up_caret_active('node')">&and;</span>
          <span ng-if="qmc.show_down_caret_active('node')">&or;</span>
        </th>        
        <th ng-click="qmc.update_active_sort('elapsedTime')">Duration
          <span ng-if="qmc.show_up_caret_active('elapsedTime')">&and;</span>
          <span ng-if="qmc.show_down_caret_active('elapsedTime')">&or;</span>
        </th>
        <th ng-click="qmc.update_active_sort('requestId')">Request ID
          <span ng-if="qmc.show_up_caret_active('requestId')">&and;</span>
          <span ng-if="qmc.show_down_caret_active('requestId')">&or;</span>
        </th>
        <th ng-click="qmc.update_active_sort('state')">State
          <span ng-if="qmc.show_up_caret_active('state')">&and;</span>
          <span ng-if="qmc.show_down_caret_active('state')">&or;</span>
        </th>
        <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="result in qmc.monitoring.active_requests | orderBy:qmc.active_sort_by:qmc.active_sort_reverse">
    <td style="max-width:600px">{{result.statement | limitTo: 1024}}{{result.statement.length > 1024 ? '...' : ''}}</td>
    <td>{{result.node}}</td>
    <td>{{result.elapsedTime}}</td>
    <td>{{result.requestId}}</td>
    <td>{{result.state}}</td>
    <td><a ng-click="qmc.cancelQueryById(result.requestId)">
        <span>Cancel</span>
    </a></td>
    </tr>
    </tbody>
    </table>
  </div>

  <div id="completed_table" ng-if="qmc.isSelected(2)">
    <table>
      <thead>
        <th ng-click="qmc.update_completed_sort('statement')">Query
          <span ng-if="qmc.show_up_caret_completed('statement')">&and;</span>
          <span ng-if="qmc.show_down_caret_completed('statement')">&or;</span>
        </th>
        <th ng-click="qmc.update_completed_sort('node')">Node <span
          ng-if="qmc.show_up_caret_completed('node')">&and;</span> <span
          ng-if="qmc.show_down_caret_completed('node')">&or;</span>
        </th>
        <th ng-click="qmc.update_completed_sort('elapsedTime')">Duration
          <span ng-if="qmc.show_up_caret_completed('elapsedTime')">&and;</span>
          <span ng-if="qmc.show_down_caret_completed('elapsedTime')">&or;</span>
        </th>
        <th ng-click="qmc.update_completed_sort('resultCount')">Result
          Count <span ng-if="qmc.show_up_caret_completed('resultCount')">&and;</span>
          <span ng-if="qmc.show_down_caret_completed('resultCount')">&or;</span>
        </th>
        <th ng-click="qmc.update_completed_sort('state')">State <span
          ng-if="qmc.show_up_caret_completed('state')">&and;</span> <span
          ng-if="qmc.show_down_caret_completed('state')">&or;</span>
        </th>
        <th ng-click="qmc.update_completed_sort('time')">Run at <span
          ng-if="qmc.show_up_caret_completed('time')">&and;</span> <span
          ng-if="qmc.show_down_caret_completed('time')">&or;</span>
        </th>
      </thead>
      <tbody>
        <tr
          ng-repeat="result in qmc.monitoring.completed_requests | orderBy:qmc.completed_sort_by:qmc.completed_sort_reverse">
          <td style="max-width: 600px">{{result.statement |
            limitTo: 1024}}{{result.statement.length > 1024 ? '...' :
            ''}}</td>
          <td>{{result.node}}</td>
          <td>{{result.elapsedTime}}</td>
          <td>{{result.resultCount}}</td>
          <td>{{result.state}}</td>
          <td>{{result.time}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="prepareds_table" ng-if="qmc.isSelected(3)">
    <table>
      <thead>
        <th ng-click="qmc.update_prepared_sort('statement')">Query
          <span ng-if="qmc.show_up_caret_prepared('statement')">&and;</span>
          <span ng-if="qmc.show_down_caret_prepared('statement')">&or;</span>
        </th>
        <th ng-click="qmc.update_prepared_sort('avgElapsedTime')">Avg
          Elapsed <span
          ng-if="qmc.show_up_caret_prepared('avgElapsedTime')">&and;</span>
          <span ng-if="qmc.show_down_caret_prepared('avgElapsedTime')">&or;</span>
        </th>
        <th ng-click="qmc.update_prepared_sort('uses')">#Uses <span
          ng-if="qmc.show_up_caret_prepared('uses')">&and;</span> <span
          ng-if="qmc.show_down_caret_prepared('uses')">&or;</span>
        </th>
        <th ng-click="qmc.update_prepared_sort('node')">Node <span
          ng-if="qmc.show_up_caret_prepared('node')">&and;</span> <span
          ng-if="qmc.show_down_caret_prepared('node')">&or;</span>
        </th>
      </thead>
      <tbody>
        <tr
          ng-repeat="result in qmc.monitoring.prepareds | orderBy:qmc.prepared_sort_by:qmc.prepared_sort_reverse">
          <td style="max-width: 600px">{{result.statement |
            limitTo: 1024}}{{result.statement.length > 1024 ? '...' :
            ''}}</td>
          <td>{{result.avgElapsedTime}}</td>
          <td>{{result.uses}}</td>
          <td>{{result.node}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
