<div ng-controller="qwQueryController as qc">

  <mn-element-cargo depot="subnav">
    <nav ng-if="qc.validated.valid()" class="sub-nav">
      <a ui-sref="app.admin.query.workbench" ui-sref-active="selected">
        Query Workbench</a>
      <a ui-sref="app.admin.query.monitoring" ng-if="qc.isEnterprise && qc.validated.monitoringAllowed()"
       ng-class="{selected: ('app.admin.query.monitoring' | includedByState)}">
        Query Monitor</a>
        <!--
      <a ui-sref="app.admin.query.doc_editor" ui-sref-active="selected">
        Document Editor</a> -->
    </nav>
  </mn-element-cargo>

  <div class="margin-top1" ng-if="qc.validated.inProgress() && !qc.validated.valid()">
    <p>Contacting query node...</p>
  </div>

  <div ng-if="!qc.validated.inProgress() && !qc.validated.valid()" class="margin-top1">
    <p>The query interface is only available on Couchbase nodes running the query service.</p>

    <div ng-if="qc.validNodes.length">
      <span ng-if="qc.validated.otherStatus() == 404">
        <p>The query service was found on the following nodes:</p>
      </span>
      <span ng-if="qc.validated.otherStatus() != 404">
        <p class="error">Received error {{qc.validated.otherStatus()}} when contacting the 
        query service on this node. You can try refreshing the browser, or connecting to another node
        (if available).</p>
        <p>The query service should be found on the following nodes:</p>
      </span>
      <ul class="nobullet">
        <li ng-repeat="url in qc.validNodes">
          <a href="{{url}}">{{url}}</a>
        </li>
      </ul>
    </div>
    <div ng-if="qc.validNodes.length == 0">
      <p class="error">No query nodes were found on this cluster.</p>
    </div>
  </div>

  <div ui-view=""></div>
</div>
