/* document editor --------------------------------------------------------- */
.doc-editor {
  margin-bottom: -50px;
}
.doc-editor .controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 0 1.5rem 0;
  font-size: .875rem;
}
.doc-editor .controls .column {
  margin-right: .5rem;
}
.doc-editor .controls label {
  font-size: .875rem;
}
.doc-editor .ui-select-container.single {
  margin-bottom: -2px!important;
}
.doc-editor .cbui-select .selectize-input {
  line-height: 2.1;
}
.doc-editor-results {
  overflow: auto;
  height: calc(100vh - 250px);
  width: 100%;
}

.doc-editor-fieldset {
    padding: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.doc-editor-row {
  white-space: nowrap;
  padding: .25rem 0;
  vertical-align: top;
}
.doc-editor-cell {
  display: inline-block;
  overflow: hidden;
  overflow-wrap: break-word;
  vertical-align: top;
  white-space: normal;
  font-size: .875rem;
  padding: 0 1rem 0 .25rem;
}
input.ng-invalid-number {
  background-color: #f9e9ea; /* red-7 */
}

/* small square buttons for the document editor ---------------------------- */
.btn.square-button {
  min-width: 1rem;
  padding: .5rem;
  margin-right: .25rem;
  border-radius: 4px;
}
.btn.square-button[disabled] {
  background-color: #d3ccd3;
}
.square-button .icon {
  vertical-align: top;
  color: #fff;
  font-size: inherit;
}

/* shadows to indicate more content if you scroll  ------------------------- */
.scroll-shadow-horizontal {
  box-shadow: -8px 0px 8px -6px rgba(33,33,33,0.5);
  position: absolute;
  top: -2px;
  right: -32px;
  width: 32px;
  height: 100%;
  z-index: 100;
  background-color: #fff;
}
.scroll-shadow-bottom {
  position: relative;
  z-index: 2;
  box-shadow: 0px -10px 10px -10px #000 inset;
  height: 20px;
  margin-top: -20px;
  margin-right: 5px;
}

/* force visible scrollbars   ---------------------------------------------- */
.show-scrollbar::-webkit-scrollbar {
  width: 10px; /* force scrollbars to appear with this size */
  height: 10px;

}
.show-scrollbar::-webkit-scrollbar-track { /* force track to appear*/
  background-color: #f5f5f5;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.show-scrollbar::-webkit-scrollbar-thumb { /* force thumb to appear */
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #ececec;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
}

/* doc editor resizable JSON editing dialog -------------------------------- */
.dialog-resizable {
  overflow: hidden;
  resize: both;
}

/* query monitoring tables ------------------------------------------------- */
.qm-table-active .cbui-table-header,
.qm-table-completed .cbui-table-header,
.qm-table-prepared .cbui-table-header {
  cursor: pointer;
}

/* query monitoring statistics --------------------------------------------- */
.qm-stats {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  background-color: #fff;
  border-top: 1px solid #d1d1d1;
  width: 100vw;
  height: 120px;
  padding: .5rem;
  font-size: .688rem;
  box-shadow: 0 -36px 28px -12px #fff;
}
.qm-stats .column {
  flex: 1 0 auto;
  white-space: nowrap;
  max-width: 240px;
  padding: 0 2rem 0 0;
  line-height: 2;
  height: 100%;
}
.qm-stats .column.vertical-divider {
  border-right: 1px solid #d1d1d1;
}
.qm-stats .column.narrow {
  flex: 0 1 0;
}
.qm-stats .column.wide {
  flex: 0 0 auto;
  max-width: inherit;
}
.qm-stats .column span {
  display: inline-block;
}
.qm-stats hr {
  margin: .25rem 0;
}

/* styles for D3-based query explain plan ---------------------------------- */
.wb-explain-summary {
  font-size: .75rem;
  padding: .25rem 1rem;
}
.wb-explain-summary .column {
  flex-grow: 1;
  margin: 0 1.5rem 0 0;
  padding: 0;
}
.wb-explain-summary .column:last-child {
  flex-grow: .5;
  margin-right: 0;
}
.wb-explain-d3-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: OpenSans;
  border-top: 1px solid #ececec;
}
.wb-explain-node {
  cursor: pointer;
  fill: #bfe2ba;
}
.wb-explain-node text {
  pointer-events: none;
}
.wb-explain-node-expensive-3 {
  fill: #fdedd3;
}
.wb-explain-node-expensive-2 {
  fill: #fbebd7;
}
.wb-explain-node-expensive-1 {
  fill: #f9ca7b;
}
.wb-explain-node:hover,
.wb-explain-node-expensive-1:hover,
.wb-explain-node-expensive-2:hover,
.wb-explain-node-expensive-3:hover {
  cursor: hand;
  fill: #b3cfef;
}
.wb-explain-node-text {
  font-size: 11px;
  font-weight: 600;
  fill: #000;
  fill-opacity: 1;
  text-anchor: middle;
}
.wb-explain-node-text-details {
  font-size: 9px;
  fill: #000;
  fill-opacity: 1;
  text-anchor: middle;
}
.wb-explain-link {
  fill: none;
  stroke: #979797;
  stroke-width: 1px;
}
marker {
  fill: #333;
}
.wb-explain-plan-zoom {
  color: #a1a1a1;
  padding: .35rem .5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 18px;
}
.wb-explain-plan-zoom:hover {
  color: #000;
  border: 1px solid #a1a1a1;
}
.wb-explain-plan-zoom:active {
  color: #000;
  border: 1px solid #333;
}

.wb-explain-plan-orient {
  display: inline-block;
  color: #a1a1a1;
  padding: .35rem .5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 18px;
}
.wb-explain-plan-orient:hover {
  color: #000;
  border: 1px solid #a1a1a1;
}
.wb-explain-plan-orient:active {
  color: #000;
  border: 1px solid #333;
}
.wb-explain-plan-selected-orient {
  color: #000 !important;
}

/* special tooltips for the explain plan ----------------------------------- */
.wb-explain-tooltip {
  position: absolute;
  font-size: .75rem;
  cursor: pointer;
  padding: .5rem .75rem;
  color: #333;
  background-color: #fff;
  border-radius: 3px;
  border-top: solid .25rem #4287d6;
  box-shadow: 0px 5px 14px 2px rgba(0,0,0,0.14);
  min-width: 200px;
  z-index: 10;
}
.wb-explain-tooltip h5 {
  margin-right: 1rem;
}
ul.wb-explain-tooltip-list {
  padding: 0;
  margin: .25rem 0 .5rem 0;
}
ul.wb-explain-tooltip-list li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: .75rem;
}
ul.wb-explain-tooltip-list li ul li {
  list-style-type: circle!important;
  padding: 0;
  margin: 0;
  font-size: .75rem;
}

/* animated toggle control -------------------------------------------------- */
.toggle-control {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin: 0 .25rem;
}
.toggle-control input {display:none;}
.toggle-control-body {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}
.toggle-control-body:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: .25rem;
  bottom: .25rem;
  border-radius: 50%;
  background-color: #fff;
  transition: .2s;
}
input:checked + .toggle-control-body {
  background-color: #4287d6;
}
input:checked + .toggle-control-body:before {
  transform: translateX(24px);
}
