#currentUI {
  margin: 0;
  padding: 0;
}

#query_wrapper {}

#query_header {
  min-height: 2rem;
  margin-bottom: .5rem;
}

#query_editor {
  overflow: auto;
  background-color: #f6f7f9;
  padding: 1.5rem;
}

#query_editor * {
  line-height: 1.4rem !important;
  font-size: 14px !important;
}

#query_footer {
  margin-top: .5rem;
}

/* ACE editor overrides ***************** */
.ace_gutter {
  background-color: #f6f7f9 !important;
}

.ace_print-margin {
  display:none !important;
}

.ace_keyword {
  color: green !important;
}

.ace_active-line {
  background-color: #eceff2 !important;
}

.ace_gutter-active-line {
  background-color: #eceff2 !important;
}

.query-history-controls-inner {
  margin: 0 .25rem;
}

#result_summary {
  margin: 0 1.5rem;
  text-align: left;
  flex-grow: 1;
}

#result_summary span:not(.success):not(.error) {
  white-space: nowrap;
  color: #555;
}

#result_summary span:first-child {
  margin-left: 0;
}

#result_header {
min-height: 2rem;
margin-top: 1.5rem;
}
/* the wrapper around ALL results views...followed by the specific views */
#result_box {
background-color: #f6f7f9;
margin-top: .5rem;
}
/* the wrappers around the various results views + analysis sidebar */
#result_editor,
#result_table,
#result_tree,
#query_plan,
#query_plan_text,
#sidebar_body {
  overflow: auto;
}
#result_tree {padding:.5rem .5rem .5rem 0;}
#query_plan {padding:.5rem;}
#result_table {max-width: 72vw;}

/* the wrapper around the JSON view */
#result_editor {
  background-color: #f6f7f9;
  font-size: 14px;
  font-weight: 400;
  padding: 1rem;
}
/* the wrapper around the JSON view to capture all its children brutally */
#result_editor * {
  line-height: 1.4rem !important;
}

.ajtd-row-matched-search {
  background-color: #d9c5ff;
}

/* bucket inference sidebar ***************** */
#metadata {
  flex: 0 0 auto;
  padding-left: 2rem;
}
#sidebar_body {
  border-left: 1px solid #d1d1d1;
  padding: .25rem 0 .5rem 1rem;
  white-space: nowrap;
  overflow: auto;
}
#sidebar_body h5 {
  line-height: 2rem;
  font-weight: 600;
  color: #000;
}
#sidebar_body .row {
line-height: 2rem;
margin-bottom: .25rem;
padding-right: .5rem;
}
#sidebar_body .icon {
  cursor: pointer;
  color: #555;
}
#sidebar_body ul {
  margin: .25rem 0;
  cursor: default;
}
#sidebar_body ul ul {
  margin-left: .75rem;
}
#sidebar_body li {
  list-style-type: none;
}
#sidebar_body  section {
  border-width: 0;
  margin-bottom: .5rem;
}


#show_anyway {
  color:red;
  font-size:.875rem;
  padding:1.5rem;
}
#show_anyway a {
  display:block;
  width:100%;
  text-align:right;
}

#qw_history_table {
  overflow: auto;
  padding: 0 0 1rem 0;
}
#qw_history_dialog .panel-content .filter-input-group {
  margin-bottom: 1rem;
}
#qw_history_table section {
  margin: 0;
  padding: 0;
}
#qw_history_table section:last-child {
  border-width: 0;
}

#qw_history_table section:hover {
  background-color: #ecf3fa;
}
#qw_history_table section span {
  padding: .5rem 0;
  min-height: 2rem;
  cursor: pointer;
  line-height: 1.3;
}
#qw_history_table section span.selected {
  background-color: #ececec;
}

.icon-button .icon {
  padding: 0;
  position: relative;
  left: 4px;
}

.qw-button-exec {
  width: 8rem;
}

.icon.margin-left {
  margin-left: .25rem;
}

.icon.margin-right {
  margin-right: .25rem;
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-right:before {
  content: "\f0da";
}

.fa-pause:before {
  content: "\f04c";
}

.fa-play-circle:before {
  content: "\f144";
}

.fa-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-spinner:before {
  content: "\f110";
}

.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

.loading {
  display:inline-block;
  width:1rem;
}

.loading-placeholder {
  display:inline-block;
  width:1rem;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1rem;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1rem;
  }
}

.hidden {display:none;}

.panel-footer.spaced {
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
}

.gray-6 {
  background-color:#ececec;
}

.flex-top {
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: stretch;
}

.dialog-lg {
  width: 640px;
}

/* redundant with proposed changes to cbui-components.css */
.pills a {
  color: #333;
  font-size: .961rem;
  font-weight: 400;
  display: inline-block;
  padding: .25rem .75rem;
  border-radius: 1rem;
  cursor:pointer;
}

.pills a:hover {
  background-color: #b3cfef;
}

a.selected {
  background-color: #7babe2;
  color: #fff !important;
}

a.selected:hover {
  background-color: #7babe2 !important;
  color: #fff;
  cursor: text;
}

/* MOVE TO CBUI-LAYOUT.CSS */
.margin-left-half {
  margin-left: .5rem;
}

.cbui-input.ng-invalid {
  background-color: pink;
}

.break-word {
    word-break: break-all;
}

/* Buttons for the document editor */

.flex-grow-125 {
  flex-grow: 1.25;
}

.btn.qw-doc-editor {
  min-width: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.btn.qw-doc-editor[disabled] {
  background-color: #d3ccd3;
}

.qw-editor-btn {
  vertical-align: top;
  color: black;
}

.qw-fa-trash:before {
  font-size: 1.5em;
  content: "\f014";
}

.qw-fa-copy:before {
  font-size: 1.5em;
  content: "\f0c5";
}

.qw-fa-save:before {
  font-size: 1.5em;
  content: "\f0c7";
}

.qw-fa-edit:before {
  font-size: 1.5em;
  content: "\f044";
}

/* monitoring statistics --------------- */
#query_stats {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  bottom: 0;
  height: 120px;
  overflow: hidden;
  left: 0;
  z-index: 10;
  background-color: #fff;
  border-top: 1px solid #d1d1d1;
  width: 100vw;
  padding: 1rem .5rem .5rem .5rem;
  font-size: .75rem;
  box-shadow: 0 -36px 28px -12px #fff;
}
#query_stats .column {
  flex: 1 0 auto;
  white-space: nowrap;
  max-width: 240px;
  padding: 0 2rem 0 0;
  line-height: 1.8;
}
#query_stats .column.vertical-divider {
  border-right: 1px solid #d1d1d1;
}
#query_stats .column.narrow {
  flex: 0 1 0;
}
#query_stats .column.wide {
  flex: 0 0 auto;
  max-width: inherit;
}
#query_stats .column span {
  display: inline-block;
}
#query_stats hr {
  margin: .5rem 0;
}
